<div class="card" data-pgc-define="jr.connection" data-pgc-define-name="Connection" data-pgc-section="Page components">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-12">
        <h4><%= connection.name %></h4>
        <p><%= connection.description %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div class="d-sm-flex justify-content-between align-items-sm-center">
          <p><%= connection.record_a.name %></p>
          <div class="connection-qualities flex-shrink-0" style="margin: 10px;">
            <% if connection.connection_type.destructive? %>
              <i class="zmdi zmdi-close"></i>
            <% end %>
            <i class="fa fa-long-arrow-right"></i>
          </div>
          <p><%= connection.record_b.name %></p>
        </div>
        <%= render "shared/created_by", user: connection.user %>
      </div>
      <div class="col-lg-4">
        <button type="button" class="btn btn-light btn-block">
          <i class="fa fa-edit"></i>&nbsp;Edit
        </button>
        <button type="button" class="btn btn-light btn-block">
          <i class="fa fa-close"></i>&nbsp;Delete
        </button>
      </div>
    </div>
  </div>
</div>
