<div class="card">
  <div class="card-body">
    <div class="card-title"></div>
    <%= form_with(model: connection) do |form| %>
      <% if connection.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(connection.errors.count, "error") %> prohibited this connection from being saved:</h2>
          <ul>
            <% connection.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= form.label :connection_type_id do %>
          Connection Type
        <% end %>
        <div class="dropdown" data-pgc="jr.dropdown">
          <%= form.collection_select :connection_type_id, @connection_types, :id, :name, { include_blank: true }, { class: "btn btn-light dropdown-toggle px-5" } %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :name %>

        <p>* optional</p>
        <%= form.text_field :name, class: "form-control", placeholder: "Enter Connection Name" %>
      </div>
      <div class="form-group">
        <%= form.label :description %>

        <p>* optional</p>
        <%= form.text_area :description, class: "form-control", placeholder: "Enter Connection Description (for example a reason you are creating it)" %>
      </div>
      <div class="form-group">
        <%= form.label :record_a_id do %>
          Record A
        <% end %>
        <div class="dropdown" data-pgc="jr.dropdown">
          <%= form.collection_select :record_a_id, @records_a, :id, :name, { include_blank: true }, { class: "btn btn-light dropdown-toggle px-5" } %>
        </div>
      </div>
      <div class="form-group">
        <label for="input-1">Preview</label>
        <div class="text-center">
          <div>
            <i class="zmdi zmdi-close"></i>
          </div>
          <div>
            <i class="zmdi zmdi-long-arrow-up"></i>
            <i class="zmdi zmdi-long-arrow-down"></i>
            <i class="zmdi zmdi-arrow-split"></i>
          </div>
          <div>
            <i class="zmdi zmdi-close"></i>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :record_b_id do %>
          Record B
        <% end %>
        <div class="dropdown" data-pgc="jr.dropdown">
          <%= form.collection_select :record_b_id, @records_b, :id, :name, { include_blank: true }, { class: "btn btn-light dropdown-toggle px-5" } %>
        </div>
      </div>
      <div class="form-group">
        <label for="input-3">Direction</label>
        <p>* This field is visible only if this connection is set as directional, if it&apos;s non-directional both A and B are equally important.</p>
        <p>Does Hierarchy go from A to B?</p>
        <p>Is it true that A is a source and B is a target?</p>
        <p>Is it true that A is a</p>
        <p>Or A is an entrance, B is an exit?</p>
        <p>Or vice versa?</p>
        <div class="icheck-material-white">
          <input type="checkbox" id="user-checkbox1" checked=""/>
          <label for="user-checkbox1">
            <p>A -&gt; B (B partially solves or replaces A<br>A is a source, B is a target)</p>
          </label>
        </div>
        <div class="icheck-material-white">
          <input type="checkbox" id="user-checkbox1" checked=""/>
          <label for="user-checkbox1">
            <p>A &lt;- B (A partially solves or replaces B<br>B is a source, A is a target)</p>
          </label>
        </div>
      </div>
      <div class="form-group py-2">
      </div>
      <div class="form-group d-flex justify-content-between">
        <%= button_tag type: :submit, class: "btn btn-light px-5" do %>
          <i class="fa fa-check mx-1"></i>Create!
        <% end %>
        <%= link_to connections_path, class: "btn btn-light px-5" do %>
          <i class="fa fa-close mx-1"></i>Cancel
        <% end %>
      </div>
    <% end %>
  </div>
</div>
