<div class="card" data-pgc="jr.person">
  <div class="card-body">
    <div class="row">
      <div class="align-items-center col-sm-8 d-flex flex-column justify-content-center text-center">
        <%= image_tag user.avatar_url(:thumb), class: "rounded-circle", width: "100px", 'height' => "100px" %>
        <p>
          <%= user.name %>
        </p>
      </div>
      <div class="col-sm-4" data-pgc-field="buttons">
        <% if user.unblockable_by(current_user) %>
          <%= link_to blocked_user_blocking_path(blocked_user_id: user.id, id: current_user.blockings.find_by(blocked_user: user).id), method: :delete, class: "btn btn-light btn-block", data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-close mx-1"></i>
            Unblock
          <% end %>
        <% else %>
          <%= link_to blocked_user_blockings_path(blocked_user_id: user.id), method: :post, class: "btn btn-light btn-block" do %>
            <i class="fa fa-close mx-1"></i>
            Block
          <% end %>
        <% end %>
        <% if user.sent_friend_request_to?(current_user) %>
          <%= link_to friend_friend_requests_path(friend_id: user.id), method: :post, class: "btn btn-light btn-block" do %>
            <i class="fa fa-check mx-1"></i>
            Accept Request
          <% end %>
          <%= link_to reject_friend_friend_requests_path(friend_id: user.id), method: :delete, class: "btn btn-light btn-block" do %>
            <i class="fa fa-close mx-1"></i>
            Reject Request
          <% end %>
        <% end %>
        <button class="btn btn-light btn-block" type="button">
          <i class="fa fa-comment mx-1"></i>
          Message
        </button>
      </div>
    </div>
  </div>
</div>
