<h1>Editing User</h1>

<%= render 'form', user: @user %>

<div class="row mt-3">
  <div class="col-lg-4">
    <div class="card profile-card-2">
      <div class="card-img-block">
        <img class="img-fluid" src="https://via.placeholder.com/800x500" alt="Card image cap">
      </div>
      <div class="card-body pt-5">
        <img src="https://via.placeholder.com/110x110" alt="profile-image" class="profile">
        <h5 class="card-title">Mark Stern</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="icon-block">
          <a href="javascript:void();"><i class="fa fa-facebook bg-facebook text-white"></i></a>
          <a href="javascript:void();"> <i class="fa fa-twitter bg-twitter text-white"></i></a>
          <a href="javascript:void();"> <i class="fa fa-google-plus bg-google-plus text-white"></i></a>
        </div>
      </div>
      <div class="card-body border-top border-light">
        <div class="media align-items-center">
          <div>
            <%= image_pack_tag "timeline/html5.svg", class: "skill-img", alt: "skill img" %>
          </div>
          <div class="media-body text-left ml-3">
            <div class="progress-wrapper">
              <p>HTML5 <span class="float-right">65%</span></p>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar" style="width:65%"></div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="media align-items-center">
          <div>
            <%= image_pack_tag "timeline/bootstrap-4.svg", class: "skill-img", alt: "skill img" %>
          </div>
          <div class="media-body text-left ml-3">
            <div class="progress-wrapper">
              <p>Bootstrap 4 <span class="float-right">50%</span></p>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar" style="width:50%"></div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="media align-items-center">
          <div>
            <%= image_pack_tag "timeline/angular-icon.svg", class: "skill-img", alt: "skill img" %>
          </div>
          <div class="media-body text-left ml-3">
            <div class="progress-wrapper">
              <p>AngularJS <span class="float-right">70%</span></p>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar" style="width:70%"></div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="media align-items-center">
          <div>
            <%= image_pack_tag "timeline/react.svg", class: "skill-img", alt: "skill img" %>
          </div>
          <div class="media-body text-left ml-3">
            <div class="progress-wrapper">
              <p>React JS <span class="float-right">35%</span></p>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar" style="width:35%"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="card">
      <div class="card-body">
        <ul class="nav nav-tabs nav-tabs-primary top-icon nav-justified">
          <li class="nav-item">
            <a href="javascript:void();" data-target="#profile" data-toggle="pill" class="nav-link active"><i class="icon-user"></i> <span class="hidden-xs">Profile</span></a>
          </li>
          <li class="nav-item">
            <a href="javascript:void();" data-target="#messages" data-toggle="pill" class="nav-link"><i class="icon-login"></i> <span class="hidden-xs">Sign-in History</span></a>
          </li>
          <li class="nav-item">
            <a href="javascript:void();" data-target="#edit" data-toggle="pill" class="nav-link"><i class="icon-note"></i> <span class="hidden-xs">Edit</span></a>
          </li>
        </ul>
        <div class="tab-content p-3">
          <div class="tab-pane active" id="profile">
            <h5 class="mb-3">User Profile</h5>
            <div class="row">
              <div class="col-md-6">
                <h6>About</h6>
                <p>
                Web Designer, UI/UX Engineer </p>
                <h6>Hobbies</h6>
                <p>
                Indie music, skiing and hiking. I love the great outdoors. </p>
              </div>
              <div class="col-md-6">
                <h6>Recent badges</h6>
                <a href="javascript:void();" class="badge badge-dark badge-pill">html5</a>
                <a href="javascript:void();" class="badge badge-dark badge-pill">react</a>
                <a href="javascript:void();" class="badge badge-dark badge-pill">codeply</a>
                <a href="javascript:void();" class="badge badge-dark badge-pill">angularjs</a>
                <a href="javascript:void();" class="badge badge-dark badge-pill">css3</a>
                <a href="javascript:void();" class="badge badge-dark badge-pill">jquery</a>
                <a href="javascript:void();" class="badge badge-dark badge-pill">bootstrap</a>
                <a href="javascript:void();" class="badge badge-dark badge-pill">responsive-design</a>
                <hr>
                <span class="badge badge-primary"><i class="fa fa-user"></i> 900 Followers</span>
                <span class="badge badge-success"><i class="fa fa-cog"></i> 43 Forks</span>
                <span class="badge badge-danger"><i class="fa fa-eye"></i> 245 Views</span>
              </div>
              <div class="col-md-12">
                <h5 class="mt-2 mb-3"><span class="fa fa-clock-o ion-clock float-right"></span> Recent Activity</h5>
                <div class="table-responsive">
                  <table class="table table-hover table-striped">
                    <tbody>
                      <tr>
                        <td> <strong>Abby</strong> joined ACME Project Team in <strong>`Collaboration`</strong> </td>
                      </tr>
                      <tr>
                        <td> <strong>Gary</strong> deleted My Board1 in <strong>`Discussions`</strong> </td>
                      </tr>
                      <tr>
                        <td> <strong>Kensington</strong> deleted MyBoard3 in <strong>`Discussions`</strong> </td>
                      </tr>
                      <tr>
                        <td> <strong>John</strong> deleted My Board1 in <strong>`Discussions`</strong> </td>
                      </tr>
                      <tr>
                        <td> <strong>Skell</strong> deleted his post Look at Why this is.. in <strong>`Discussions`</strong> </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!--/row-->
          </div>
          <div class="tab-pane" id="messages">
            <h4>Sign-in History</h4>
            <div class="alert alert-info alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <div class="alert-icon">
                <i class="icon-info"></i>
              </div>
              <div class="alert-message">
                <span> If you don&apos;t recognize some of these sessions, click &quot;Logout from other devices&quot; and you may even want to change your password.</span>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Device</th>
                    <th>Date / Time</th>
                    <th>Location</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>My Device 1</td>
                    <td>24/01/2021</td>
                    <td>Ukraine, Lviv</td>
                  </tr>
                  <tr>
                    <td>My Device 2</td>
                    <td>3/05/2020</td>
                    <td>Ukraine, Lviv</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="tab-pane" id="edit">
            <form>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">First name</label>
                <div class="col-lg-9">
                  <input class="form-control" type="text" value="Mark">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Last name</label>
                <div class="col-lg-9">
                  <input class="form-control" type="text" value="Jhonsan">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Date of birth</label>
                <div class="col-lg-9">
                  <input class="form-control" type="date"/>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Email</label>
                <div class="col-lg-9">
                  <input class="form-control" type="email" value="mark@example.com">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Language</label>
                <div class="col-lg-9">
                  <div class="dropdown" data-pgc="jr.dropdown">
                    <button type="submit" class="btn btn-light dropdown-toggle form-control px-5" data-toggle='dropdown' data-pgc-field="ButtonName">
                      <i class="icon-lock"></i>&nbsp;Select












                    </button>
                    <div class="dropdown-menu" x-placement='bottom start'>
                      <a class="dropdown-item" href='#'>Link</a>
                      <a href="#" class="dropdown-item">Link</a>
                      <a href="#" class="dropdown-item">Link</a>
                      <a href="#" class="dropdown-item">Link</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Mode</label>
                <div class="col-lg-9">
                  <div class="dropdown" data-pgc="jr.dropdown">
                    <button type="submit" class="btn btn-light dropdown-toggle form-control px-5" data-toggle='dropdown' data-pgc-field="ButtonName">
                      <i class="icon-lock"></i>&nbsp;Select












                    </button>
                    <div class="dropdown-menu" x-placement='bottom start'>
                      <a class="dropdown-item" href='#'>Link</a>
                      <a href="#" class="dropdown-item">Link</a>
                      <a href="#" class="dropdown-item">Link</a>
                      <a href="#" class="dropdown-item">Link</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Change profile</label>
                <div class="col-lg-9">
                  <input class="form-control" type="file">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Website</label>
                <div class="col-lg-9">
                  <input class="form-control" type="url" value="">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Address</label>
                <div class="col-lg-9">
                  <input class="form-control" type="text" value="" placeholder="Street">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"></label>
                <div class="col-lg-6">
                  <input class="form-control" type="text" value="" placeholder="City">
                </div>
                <div class="col-lg-3">
                  <input class="form-control" type="text" value="" placeholder="State">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Username</label>
                <div class="col-lg-9">
                  <input class="form-control" type="text" value="jhonsanmark">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Mode</label>
                <div class="col-lg-9">
                  <div class="dropdown" data-pgc="jr.dropdown">
                    <button type="submit" class="btn btn-light dropdown-toggle form-control px-5" data-toggle='dropdown' data-pgc-field="ButtonName">
                      <i class="icon-lock"></i>&nbsp;Select












                    </button>
                    <div class="dropdown-menu" x-placement='bottom start'>
                      <a class="dropdown-item" href='#'>Link</a>
                      <a href="#" class="dropdown-item">Link</a>
                      <a href="#" class="dropdown-item">Link</a>
                      <a href="#" class="dropdown-item">Link</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Password</label>
                <div class="col-lg-9">
                  <input class="form-control" type="password" value="11111122333">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Confirm password</label>
                <div class="col-lg-9">
                  <input class="form-control" type="password" value="11111122333">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Security Question</label>
                <div class="col-lg-9">
                  <button type="submit" class="btn btn-light dropdown-toggle form-control px-5" data-toggle='dropdown' data-pgc-field="ButtonName">
                    <i class="icon-lock"></i>&nbsp;Select
                  </button>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Secret Answer</label>
                <div class="col-lg-9">
                  <input class="form-control" type="text" value="jhonsanmark">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Facebook</label>
                <div class="col-lg-9">
                  <button type="submit" class="btn btn-light form-control px-5" data-pgc-field="ButtonName">Connect Facebook</button>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Twitter</label>
                <div class="col-lg-9">
                  <button type="submit" class="btn btn-light form-control px-5" data-pgc-field="ButtonName">CONNECT Facebook</button>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Google</label>
                <div class="col-lg-9">
                  <button type="submit" class="btn btn-light form-control px-5" data-pgc-field="ButtonName">CONNECT  Facebook</button>
                </div>
              </div>
              <div class="form-group">
                <h5>Two Factor Authentication</h5>
                <p class="hint">Set up Security Questions first.</p>
                <p class="hint">Then scan this code using your Google Authenticator or any other service.</p>
                <div class="form-check custom-control custom-switch">
                  <input class="form-check-input custom-control-input" type="checkbox" id="customSwitch1"/>
                  <label class="form-check-label custom-control-label" for="customSwitch1">Enable</label>
                </div>
                <%= image_pack_tag "QRCode.png", width: "50%" %>
                <p class="hint">Or set it up manually by entering this code into your Google Authenticator:</p>
                <p>s6f4v56s5f4vs65df4vs6f5v4ss</p>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"></label>
                <div class="col-lg-9">
                  <input type="reset" class="btn btn-secondary" value="Cancel">
                  <input type="button" class="btn btn-primary" value="Save Changes">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
