<p id="notice"><%= notice %></p>

<p>
<strong>Name:</strong>
<%= @user.name %>
</p>

<div class="row">
  <div class="col-md-12">
    <div class="card mb-3">
      <div class="card-body text-center shadow">
        <%= image_pack_tag "serge1.jpg", class: "rounded-circle mb-3 mt-4", width: "160", height: "160" %>
        <div class="mb-3">
          <h5 class="card-title">Serge Vinogradoff</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-lg-4">
    <div class="card profile-card-2">
      <div class="card-body pt-5">
        <div class="col-sm-12" data-pgc-field="buttons">
          <%= render "users/buttons", user: @user %>
        </div>
        <h6>Bio</h6>
        <p>Some quick example text to build on the card title and make up the bulk of the card&apos;s content.</p>
        <h6>About</h6>
        <p>
        Web Designer, UI/UX Engineer </p>
        <div class="icon-block">
          <a href="javascript:void();"><i class="fa fa-facebook bg-facebook text-white"></i></a>
          <a href="javascript:void();"> <i class="fa fa-twitter bg-twitter text-white"></i></a>
          <a href="javascript:void();"> <i class="fa fa-google-plus bg-google-plus text-white"></i></a>
        </div>
      </div>
      <div class="card-body border-top border-light">
        <h5>Friends (28)</h5>
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="card nobackground" data-pgc-define="jr.friend" data-pgc-define-name="Friend" data-pgc-section="Page Components">
              <%= image_pack_tag "serge1.jpg", class: "border mb-0 rounded-circle w-100", 'data-pgc-edit' => "image[src, no_content]" %>
              <div class="card-body d-flex justify-content-center pb-0 pt-1 text-center">
                <p class="mb-0" data-pgc-edit="name">Serge Vinogradoff</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="card nobackground" data-pgc="jr.friend">
              <%= image_pack_tag "serge1.jpg", class: "border mb-0 rounded-circle w-100", 'data-pgc-field' => "image" %>
              <div class="card-body d-flex justify-content-center pb-0 pt-1 text-center">
                <p class="mb-0" data-pgc-field="name">Serge Vinogradoff</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="card nobackground" data-pgc="jr.friend">
              <%= image_pack_tag "serge1.jpg", class: "border mb-0 rounded-circle w-100", 'data-pgc-field' => "image" %>
              <div class="card-body d-flex justify-content-center pb-0 pt-1 text-center">
                <p class="mb-0" data-pgc-field="name">Serge Vinogradoff</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="card nobackground" data-pgc="jr.friend">
              <%= image_pack_tag "serge1.jpg", class: "border mb-0 rounded-circle w-100", 'data-pgc-field' => "image" %>
              <div class="card-body d-flex justify-content-center pb-0 pt-1 text-center">
                <p class="mb-0" data-pgc-field="name">Serge Vinogradoff</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="card nobackground" data-pgc="jr.friend">
              <%= image_pack_tag "serge1.jpg", class: "border mb-0 rounded-circle w-100", 'data-pgc-field' => "image" %>
              <div class="card-body d-flex justify-content-center pb-0 pt-1 text-center">
                <p class="mb-0" data-pgc-field="name">Serge Vinogradoff</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="card nobackground" data-pgc="jr.friend">
              <%= image_pack_tag "serge1.jpg", class: "border mb-0 rounded-circle w-100", 'data-pgc-field' => "image" %>
              <div class="card-body d-flex justify-content-center pb-0 pt-1 text-center">
                <p class="mb-0" data-pgc-field="name">Serge Vinogradoff</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <a href="friends_index.html">See all</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="card">
      <div class="card-body">
        <ul class="nav nav-tabs nav-tabs-primary top-icon nav-justified">
          <li class="nav-item">
            <a href="javascript:void();" data-target="#profile" data-toggle="pill" class="nav-link active"><i class="icon-user"></i> <span class="hidden-xs">Profile</span></a>
          </li>
        </ul>
        <div class="tab-content p-3">
          <div class="tab-pane active" id="profile">
            <div class="row">
              <div class="col-md-12">
                <h6>Stats</h6>
                <span class="badge badge-primary"><i class="fa fa-user"></i> 900 Followers</span>
                <span class="badge badge-success"><i class="fa fa-cog"></i> 43 Friends</span>
                <span class="badge badge-secondary"><i class="fa fa-eye"></i> 245 Projects</span>
                <span class="badge badge-danger"><i class="fa fa-eye"></i> 245 Associations</span>
                <span class="badge badge-danger"><i class="fa fa-eye"></i> 245 Views</span>
                <hr>
                <h6>Badges</h6>
                <a href="javascript:void();" class="badge badge-dark badge-pill">html5</a>
                <a href="javascript:void();" class="badge badge-dark badge-pill">react</a>
                <a href="javascript:void();" class="badge badge-dark badge-pill">codeply</a>
                <a href="javascript:void();" class="badge badge-dark badge-pill">angularjs</a>
                <a href="javascript:void();" class="badge badge-dark badge-pill">css3</a>
                <a href="javascript:void();" class="badge badge-dark badge-pill">jquery</a>
                <a href="javascript:void();" class="badge badge-dark badge-pill">bootstrap</a>
                <a href="javascript:void();" class="badge badge-dark badge-pill">responsive-design</a>
                <hr>
              </div>
              <div class="col-md-12">
                <h6 class="mt-2 mb-3"><span class="fa fa-clock-o ion-clock float-right"></span> Recent Activity</h6>
                <div class="row">
                  <div class="col-lg-12">
                    <p>Created a project <strong>`Collaboration`</strong></p>
                  </div>
                  <div class="col-lg-12">
                    <p>Claimed that&nbsp;<strong>`Record 123`</strong>&nbsp;is related to record `<b>Discussions </b>` throught a connection of type&nbsp;&nbsp;<strong>`Some kind of a type`</strong></p>
                  </div>
                  <div class="col-lg-12">
                    <p>Claimed that&nbsp;<strong>`Record 123`</strong>&nbsp;is related to record `<b>Discussions </b>` throught a connection of type&nbsp;&nbsp;<strong>`Some kind of a type`</strong></p>
                  </div>
                  <div class="col-lg-12">
                    <p>Claimed that&nbsp;<strong>`Record 123`</strong>&nbsp;is related to record `<b>Discussions </b>` throught a connection of type&nbsp;&nbsp;<strong>`Some kind of a type`</strong></p>
                  </div>
                  <div class="col-lg-12">
                    <p>Claimed that&nbsp;<strong>`Record 123`</strong>&nbsp;is related to record `<b>Discussions </b>` throught a connection of type&nbsp;&nbsp;<strong>`Some kind of a type`</strong></p>
                  </div>
                </div>
              </div>
            </div>
            <!--/row-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 px-0 px-sm-3">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="align-items-center align-items-md-center align-items-sm-center col-md-6 d-flex d-sm-flex justify-content-center justify-content-sm-start">
            <h5 class="card-title mb-0" data-pgc-field="title">Records of this User</h5>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-12 col-lg-12 col-md-12 col-sm-6 col-xl-5 d-flex d-md-flex d-sm-flex justify-content-md-end justify-content-sm-start justify-content-start">
                <div class="dropdown" data-pgc="jr.dropdown">
                  <button type="submit" class="btn btn-light dropdown-toggle px-1" data-toggle='dropdown' data-pgc-field="ButtonName">
                    <i class="icon-lock"></i>&nbsp;Add A Column





                  </button>
                  <div class="dropdown-menu" x-placement='bottom start'>
                    <a class="dropdown-item" href='#'>Link</a>
                    <a href="#" class="dropdown-item">Link</a>
                    <a href="#" class="dropdown-item">Link</a>
                    <a href="#" class="dropdown-item">Link</a>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-12 col-md-12 col-sm-6 col-xl-7 d-flex d-md-flex d-sm-flex justify-content-md-end justify-content-sm-start justify-content-start">
                <div class="dropdown" data-pgc="jr.dropdown">
                  <button type="submit" class="btn btn-light dropdown-toggle px-1" data-toggle='dropdown' data-pgc-field="ButtonName">
                    <i class="icon-lock"></i>&nbsp;Actions on Selected Records





                  </button>
                  <div class="dropdown-menu" x-placement='bottom start'>
                    <a class="dropdown-item" href='#'>Link</a>
                    <a href="#" class="dropdown-item">Link</a>
                    <a href="#" class="dropdown-item">Link</a>
                    <a href="#" class="dropdown-item">Link</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" data-pgc="jr.recordCollapsedColumn">
      <div class="card-body px-0 px-sm-3 py-1">
        <div class="row"></div>
        <div class="px-3 row">
          <div class="align-items-center col-lg-12 d-flex justify-content-between px-3">
            <div class="align-items-center d-flex">
              <div class="d-flex flex-column">
                <div class="icheck-material-white">
                  <input type="checkbox" id="user-checkbox1" checked=""/>
                  <label for="user-checkbox1"></label>
                </div>
              </div>
              <div class="d-flex flex-column">
                <i class="fa fa-chevron-up mx-1 my-1"></i>
                <i class="fa fa-chevron-down mx-1 my-1"></i>
              </div>
              <div>
                <h5 class="card-title mb-0 mx-1" data-pgc-field="columnname">Repetitive Records</h5>
              </div>
            </div>
            <div class="align-items-center d-flex">
              <i class="fa fa-close mx-1 my-1"></i>
            </div>
          </div>
        </div>
        <div class="px-3 row">
          <div class="col-lg-12 d-flex justify-content-between">
            <div class="align-items-center d-flex">
              <div>
                <div class="form-check custom-control custom-switch">
                  <input type="checkbox" class="form-check-input custom-control-input" id="customSwitch1"/>
                  <label class="custom-control-label form-check-label" for="customSwitch1">Split Into Solved and Not-Solved</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="px-3 row">
          <div class="col-lg-12 d-flex justify-content-between">
            <div class="align-items-center d-flex">
              <div>
                <div class="align-middle custom-control custom-switch d-flex form-check">
                  <input type="checkbox" class="form-check-input custom-control-input" id="customSwitch1"/>
                  <label class="align-middle custom-control-label form-check-label" for="customSwitch1">Show Not Only Direct Children But Also Their Deep nested Children of this type</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="px-3 row">
          <div class="col-lg-12 d-flex justify-content-between">
            <div class="align-items-center d-flex">
              <div>
                <div class="align-middle custom-control custom-switch d-flex form-check">
                  <input type="checkbox" class="form-check-input custom-control-input" id="customSwitch1"/>
                  <label class="align-middle custom-control-label form-check-label" for="customSwitch1">Collapsed view</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="px-3 row">
          <div class="col-lg-12">
            <p class="mb-0">123 direct records of this type</p>
            <p class="mb-0">1230 deeply found records of this type</p>
            <p class="mb-0">1353 records of this type total</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="card mb-0" data-pgc="jr.record_collapsed">
              <div class="card-body py-0">
                <div class="row">
                  <div class="align-items-center col-lg-12 d-flex justify-content-between">
                    <div class="align-items-center d-flex">
                      <div class="d-flex flex-column">
                        <div class="icheck-material-white">
                          <input type="checkbox" id="user-checkbox1" checked=""/>
                          <label for="user-checkbox1"></label>
                        </div>
                      </div>
                      <div class="align-items-center d-flex flex-column">
                        <i class="fa fa-chevron-up mx-1 my-1"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-chevron-down mx-1 my-1"></i>
                      </div>
                      <div>
                        <h5 class="card-title mb-0 mx-1">Lorem Ipsum Blah Blah record<i class="fa fa-edit mx-1"></i></h5>
                        <p class="small" data-pgc="jr.author">Created by:<strong class="mx-1"><a href="profile.html" data-pgc-field="name">Serge Vinogradoff</a></strong></p>
                      </div>
                    </div>
                    <div class="align-items-center d-flex">
                      <i class="fa fa-repeat mx-1 my-1"></i>
                      <i class="fa fa-check mx-1 my-1"></i>
                      <i class="fa fa-eye mx-1 my-1"></i>
                      <i class="fa fa-comment mx-1 my-1"></i>
                      <i class="fa fa-cog mx-1 my-1"></i>
                      <i class="fa fa-close mx-1 my-1"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-0" data-pgc="jr.record_collapsed">
              <div class="card-body py-0">
                <div class="row">
                  <div class="align-items-center col-lg-12 d-flex justify-content-between">
                    <div class="align-items-center d-flex">
                      <div class="d-flex flex-column">
                        <div class="icheck-material-white">
                          <input type="checkbox" id="user-checkbox1" checked=""/>
                          <label for="user-checkbox1"></label>
                        </div>
                      </div>
                      <div class="align-items-center d-flex flex-column">
                        <i class="fa fa-chevron-up mx-1 my-1"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-chevron-down mx-1 my-1"></i>
                      </div>
                      <div>
                        <h5 class="card-title mb-0 mx-1">Lorem Ipsum Blah Blah record<i class="fa fa-edit mx-1"></i></h5>
                        <p class="small" data-pgc="jr.author">Created by:<strong class="mx-1"><a href="profile.html" data-pgc-field="name">Serge Vinogradoff</a></strong></p>
                      </div>
                    </div>
                    <div class="align-items-center d-flex">
                      <i class="fa fa-repeat mx-1 my-1"></i>
                      <i class="fa fa-check mx-1 my-1"></i>
                      <i class="fa fa-eye mx-1 my-1"></i>
                      <i class="fa fa-comment mx-1 my-1"></i>
                      <i class="fa fa-cog mx-1 my-1"></i>
                      <i class="fa fa-close mx-1 my-1"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-0" data-pgc="jr.record_collapsed">
              <div class="card-body py-0">
                <div class="row">
                  <div class="align-items-center col-lg-12 d-flex justify-content-between">
                    <div class="align-items-center d-flex">
                      <div class="d-flex flex-column">
                        <div class="icheck-material-white">
                          <input type="checkbox" id="user-checkbox1" checked=""/>
                          <label for="user-checkbox1"></label>
                        </div>
                      </div>
                      <div class="align-items-center d-flex flex-column">
                        <i class="fa fa-chevron-up mx-1 my-1"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-chevron-down mx-1 my-1"></i>
                      </div>
                      <div>
                        <h5 class="card-title mb-0 mx-1">Lorem Ipsum Blah Blah record<i class="fa fa-edit mx-1"></i></h5>
                        <p class="small" data-pgc="jr.author">Created by:<strong class="mx-1"><a href="profile.html" data-pgc-field="name">Serge Vinogradoff</a></strong></p>
                      </div>
                    </div>
                    <div class="align-items-center d-flex">
                      <i class="fa fa-repeat mx-1 my-1"></i>
                      <i class="fa fa-check mx-1 my-1"></i>
                      <i class="fa fa-eye mx-1 my-1"></i>
                      <i class="fa fa-comment mx-1 my-1"></i>
                      <i class="fa fa-cog mx-1 my-1"></i>
                      <i class="fa fa-close mx-1 my-1"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-0" data-pgc="jr.record_collapsed">
              <div class="card-body py-0">
                <div class="row">
                  <div class="align-items-center col-lg-12 d-flex justify-content-between">
                    <div class="align-items-center d-flex">
                      <div class="d-flex flex-column">
                        <div class="icheck-material-white">
                          <input type="checkbox" id="user-checkbox1" checked=""/>
                          <label for="user-checkbox1"></label>
                        </div>
                      </div>
                      <div class="align-items-center d-flex flex-column">
                        <i class="fa fa-chevron-up mx-1 my-1"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-chevron-down mx-1 my-1"></i>
                      </div>
                      <div>
                        <h5 class="card-title mb-0 mx-1">Lorem Ipsum Blah Blah record<i class="fa fa-edit mx-1"></i></h5>
                        <p class="small" data-pgc="jr.author">Created by:<strong class="mx-1"><a href="profile.html" data-pgc-field="name">Serge Vinogradoff</a></strong></p>
                      </div>
                    </div>
                    <div class="align-items-center d-flex">
                      <i class="fa fa-repeat mx-1 my-1"></i>
                      <i class="fa fa-check mx-1 my-1"></i>
                      <i class="fa fa-eye mx-1 my-1"></i>
                      <i class="fa fa-comment mx-1 my-1"></i>
                      <i class="fa fa-cog mx-1 my-1"></i>
                      <i class="fa fa-close mx-1 my-1"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center" data-pgc="jr.pagination">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#">Previous</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" data-pgc="jr.recordCollapsedColumn">
      <div class="card-body px-0 px-sm-3 py-1">
        <div class="row"></div>
        <div class="px-3 row">
          <div class="align-items-center col-lg-12 d-flex justify-content-between px-3">
            <div class="align-items-center d-flex">
              <div class="d-flex flex-column">
                <div class="icheck-material-white">
                  <input type="checkbox" id="user-checkbox1" checked=""/>
                  <label for="user-checkbox1"></label>
                </div>
              </div>
              <div class="d-flex flex-column">
                <i class="fa fa-chevron-up mx-1 my-1"></i>
                <i class="fa fa-chevron-down mx-1 my-1"></i>
              </div>
              <div>
                <h5 class="card-title mb-0 mx-1" data-pgc-field="columnname">Records of Type 123</h5>
              </div>
            </div>
            <div class="align-items-center d-flex">
              <i class="fa fa-close mx-1 my-1"></i>
            </div>
          </div>
        </div>
        <div class="px-3 row">
          <div class="col-lg-12 d-flex justify-content-between">
            <div class="align-items-center d-flex">
              <div>
                <div class="form-check custom-control custom-switch">
                  <input type="checkbox" class="form-check-input custom-control-input" id="customSwitch1"/>
                  <label class="custom-control-label form-check-label" for="customSwitch1">Split Into Solved and Not-Solved</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="px-3 row">
          <div class="col-lg-12 d-flex justify-content-between">
            <div class="align-items-center d-flex">
              <div>
                <div class="align-middle custom-control custom-switch d-flex form-check">
                  <input type="checkbox" class="form-check-input custom-control-input" id="customSwitch1"/>
                  <label class="align-middle custom-control-label form-check-label" for="customSwitch1">Show Not Only Direct Children But Also Their Deep nested Children of this type</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="px-3 row">
          <div class="col-lg-12 d-flex justify-content-between">
            <div class="align-items-center d-flex">
              <div>
                <div class="align-middle custom-control custom-switch d-flex form-check">
                  <input type="checkbox" class="form-check-input custom-control-input" id="customSwitch1"/>
                  <label class="align-middle custom-control-label form-check-label" for="customSwitch1">Collapsed view</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="px-3 row">
          <div class="col-lg-12">
            <p class="mb-0">123 direct records of this type</p>
            <p class="mb-0">1230 deeply found records of this type</p>
            <p class="mb-0">1353 records of this type total</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="card mb-0" data-pgc="jr.record_collapsed">
              <div class="card-body py-0">
                <div class="row">
                  <div class="align-items-center col-lg-12 d-flex justify-content-between">
                    <div class="align-items-center d-flex">
                      <div class="d-flex flex-column">
                        <div class="icheck-material-white">
                          <input type="checkbox" id="user-checkbox1" checked=""/>
                          <label for="user-checkbox1"></label>
                        </div>
                      </div>
                      <div class="align-items-center d-flex flex-column">
                        <i class="fa fa-chevron-up mx-1 my-1"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-chevron-down mx-1 my-1"></i>
                      </div>
                      <div>
                        <h5 class="card-title mb-0 mx-1">Lorem Ipsum Blah Blah record<i class="fa fa-edit mx-1"></i></h5>
                        <p class="small" data-pgc="jr.author">Created by:<strong class="mx-1"><a href="profile.html" data-pgc-field="name">Serge Vinogradoff</a></strong></p>
                      </div>
                    </div>
                    <div class="align-items-center d-flex">
                      <i class="fa fa-repeat mx-1 my-1"></i>
                      <i class="fa fa-check mx-1 my-1"></i>
                      <i class="fa fa-eye mx-1 my-1"></i>
                      <i class="fa fa-comment mx-1 my-1"></i>
                      <i class="fa fa-cog mx-1 my-1"></i>
                      <i class="fa fa-close mx-1 my-1"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-0" data-pgc="jr.record_collapsed">
              <div class="card-body py-0">
                <div class="row">
                  <div class="align-items-center col-lg-12 d-flex justify-content-between">
                    <div class="align-items-center d-flex">
                      <div class="d-flex flex-column">
                        <div class="icheck-material-white">
                          <input type="checkbox" id="user-checkbox1" checked=""/>
                          <label for="user-checkbox1"></label>
                        </div>
                      </div>
                      <div class="align-items-center d-flex flex-column">
                        <i class="fa fa-chevron-up mx-1 my-1"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-chevron-down mx-1 my-1"></i>
                      </div>
                      <div>
                        <h5 class="card-title mb-0 mx-1">Lorem Ipsum Blah Blah record<i class="fa fa-edit mx-1"></i></h5>
                        <p class="small" data-pgc="jr.author">Created by:<strong class="mx-1"><a href="profile.html" data-pgc-field="name">Serge Vinogradoff</a></strong></p>
                      </div>
                    </div>
                    <div class="align-items-center d-flex">
                      <i class="fa fa-repeat mx-1 my-1"></i>
                      <i class="fa fa-check mx-1 my-1"></i>
                      <i class="fa fa-eye mx-1 my-1"></i>
                      <i class="fa fa-comment mx-1 my-1"></i>
                      <i class="fa fa-cog mx-1 my-1"></i>
                      <i class="fa fa-close mx-1 my-1"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-0" data-pgc="jr.record_collapsed">
              <div class="card-body py-0">
                <div class="row">
                  <div class="align-items-center col-lg-12 d-flex justify-content-between">
                    <div class="align-items-center d-flex">
                      <div class="d-flex flex-column">
                        <div class="icheck-material-white">
                          <input type="checkbox" id="user-checkbox1" checked=""/>
                          <label for="user-checkbox1"></label>
                        </div>
                      </div>
                      <div class="align-items-center d-flex flex-column">
                        <i class="fa fa-chevron-up mx-1 my-1"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-chevron-down mx-1 my-1"></i>
                      </div>
                      <div>
                        <h5 class="card-title mb-0 mx-1">Lorem Ipsum Blah Blah record<i class="fa fa-edit mx-1"></i></h5>
                        <p class="small" data-pgc="jr.author">Created by:<strong class="mx-1"><a href="profile.html" data-pgc-field="name">Serge Vinogradoff</a></strong></p>
                      </div>
                    </div>
                    <div class="align-items-center d-flex">
                      <i class="fa fa-repeat mx-1 my-1"></i>
                      <i class="fa fa-check mx-1 my-1"></i>
                      <i class="fa fa-eye mx-1 my-1"></i>
                      <i class="fa fa-comment mx-1 my-1"></i>
                      <i class="fa fa-cog mx-1 my-1"></i>
                      <i class="fa fa-close mx-1 my-1"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-0" data-pgc="jr.record_collapsed">
              <div class="card-body py-0">
                <div class="row">
                  <div class="align-items-center col-lg-12 d-flex justify-content-between">
                    <div class="align-items-center d-flex">
                      <div class="d-flex flex-column">
                        <div class="icheck-material-white">
                          <input type="checkbox" id="user-checkbox1" checked=""/>
                          <label for="user-checkbox1"></label>
                        </div>
                      </div>
                      <div class="align-items-center d-flex flex-column">
                        <i class="fa fa-chevron-up mx-1 my-1"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-chevron-down mx-1 my-1"></i>
                      </div>
                      <div>
                        <h5 class="card-title mb-0 mx-1">Lorem Ipsum Blah Blah record<i class="fa fa-edit mx-1"></i></h5>
                        <p class="small" data-pgc="jr.author">Created by:<strong class="mx-1"><a href="profile.html" data-pgc-field="name">Serge Vinogradoff</a></strong></p>
                      </div>
                    </div>
                    <div class="align-items-center d-flex">
                      <i class="fa fa-repeat mx-1 my-1"></i>
                      <i class="fa fa-check mx-1 my-1"></i>
                      <i class="fa fa-eye mx-1 my-1"></i>
                      <i class="fa fa-comment mx-1 my-1"></i>
                      <i class="fa fa-cog mx-1 my-1"></i>
                      <i class="fa fa-close mx-1 my-1"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center" data-pgc="jr.pagination">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#">Previous</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" data-pgc="jr.recordCollapsedColumn">
      <div class="card-body px-0 px-sm-3 py-1">
        <div class="row"></div>
        <div class="px-3 row">
          <div class="align-items-center col-lg-12 d-flex justify-content-between px-3">
            <div class="align-items-center d-flex">
              <div class="d-flex flex-column">
                <div class="icheck-material-white">
                  <input type="checkbox" id="user-checkbox1" checked=""/>
                  <label for="user-checkbox1"></label>
                </div>
              </div>
              <div class="d-flex flex-column">
                <i class="fa fa-chevron-up mx-1 my-1"></i>
                <i class="fa fa-chevron-down mx-1 my-1"></i>
              </div>
              <div>
                <h5 class="card-title mb-0 mx-1" data-pgc-field="columnname">Connections of type Blah Blah (to this record or whatever)</h5>
              </div>
            </div>
            <div class="align-items-center d-flex">
              <i class="fa fa-close mx-1 my-1"></i>
            </div>
          </div>
        </div>
        <div class="px-3 row">
          <div class="col-lg-12 d-flex justify-content-between">
            <div class="align-items-center d-flex">
              <div>
                <div class="form-check custom-control custom-switch">
                  <input type="checkbox" class="form-check-input custom-control-input" id="customSwitch1"/>
                  <label class="custom-control-label form-check-label" for="customSwitch1">Split Into Solved and Not-Solved</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="px-3 row">
          <div class="col-lg-12 d-flex justify-content-between">
            <div class="align-items-center d-flex">
              <div>
                <div class="align-middle custom-control custom-switch d-flex form-check">
                  <input type="checkbox" class="form-check-input custom-control-input" id="customSwitch1"/>
                  <label class="align-middle custom-control-label form-check-label" for="customSwitch1">Show Not Only Direct Children But Also Their Deep nested Children of this type</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="px-3 row">
          <div class="col-lg-12 d-flex justify-content-between">
            <div class="align-items-center d-flex">
              <div>
                <div class="align-middle custom-control custom-switch d-flex form-check">
                  <input type="checkbox" class="form-check-input custom-control-input" id="customSwitch1"/>
                  <label class="align-middle custom-control-label form-check-label" for="customSwitch1">Collapsed view</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="px-3 row">
          <div class="col-lg-12">
            <p class="mb-0">123 direct records of this type</p>
            <p class="mb-0">1230 deeply found records of this type</p>
            <p class="mb-0">1353 records of this type total</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="card mb-0" data-pgc="jr.record_collapsed">
              <div class="card-body py-0">
                <div class="row">
                  <div class="align-items-center col-lg-12 d-flex justify-content-between">
                    <div class="align-items-center d-flex">
                      <div class="d-flex flex-column">
                        <div class="icheck-material-white">
                          <input type="checkbox" id="user-checkbox1" checked=""/>
                          <label for="user-checkbox1"></label>
                        </div>
                      </div>
                      <div class="align-items-center d-flex flex-column">
                        <i class="fa fa-chevron-up mx-1 my-1"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-chevron-down mx-1 my-1"></i>
                      </div>
                      <div>
                        <h5 class="card-title mb-0 mx-1">Lorem Ipsum Blah Blah record<i class="fa fa-edit mx-1"></i></h5>
                        <p class="small" data-pgc="jr.author">Created by:<strong class="mx-1"><a href="profile.html" data-pgc-field="name">Serge Vinogradoff</a></strong></p>
                      </div>
                    </div>
                    <div class="align-items-center d-flex">
                      <i class="fa fa-repeat mx-1 my-1"></i>
                      <i class="fa fa-check mx-1 my-1"></i>
                      <i class="fa fa-eye mx-1 my-1"></i>
                      <i class="fa fa-comment mx-1 my-1"></i>
                      <i class="fa fa-cog mx-1 my-1"></i>
                      <i class="fa fa-close mx-1 my-1"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-0" data-pgc="jr.record_collapsed">
              <div class="card-body py-0">
                <div class="row">
                  <div class="align-items-center col-lg-12 d-flex justify-content-between">
                    <div class="align-items-center d-flex">
                      <div class="d-flex flex-column">
                        <div class="icheck-material-white">
                          <input type="checkbox" id="user-checkbox1" checked=""/>
                          <label for="user-checkbox1"></label>
                        </div>
                      </div>
                      <div class="align-items-center d-flex flex-column">
                        <i class="fa fa-chevron-up mx-1 my-1"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-chevron-down mx-1 my-1"></i>
                      </div>
                      <div>
                        <h5 class="card-title mb-0 mx-1">Lorem Ipsum Blah Blah record<i class="fa fa-edit mx-1"></i></h5>
                        <p class="small" data-pgc="jr.author">Created by:<strong class="mx-1"><a href="profile.html" data-pgc-field="name">Serge Vinogradoff</a></strong></p>
                      </div>
                    </div>
                    <div class="align-items-center d-flex">
                      <i class="fa fa-repeat mx-1 my-1"></i>
                      <i class="fa fa-check mx-1 my-1"></i>
                      <i class="fa fa-eye mx-1 my-1"></i>
                      <i class="fa fa-comment mx-1 my-1"></i>
                      <i class="fa fa-cog mx-1 my-1"></i>
                      <i class="fa fa-close mx-1 my-1"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-0" data-pgc="jr.record_collapsed">
              <div class="card-body py-0">
                <div class="row">
                  <div class="align-items-center col-lg-12 d-flex justify-content-between">
                    <div class="align-items-center d-flex">
                      <div class="d-flex flex-column">
                        <div class="icheck-material-white">
                          <input type="checkbox" id="user-checkbox1" checked=""/>
                          <label for="user-checkbox1"></label>
                        </div>
                      </div>
                      <div class="align-items-center d-flex flex-column">
                        <i class="fa fa-chevron-up mx-1 my-1"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-chevron-down mx-1 my-1"></i>
                      </div>
                      <div>
                        <h5 class="card-title mb-0 mx-1">Lorem Ipsum Blah Blah record<i class="fa fa-edit mx-1"></i></h5>
                        <p class="small" data-pgc="jr.author">Created by:<strong class="mx-1"><a href="profile.html" data-pgc-field="name">Serge Vinogradoff</a></strong></p>
                      </div>
                    </div>
                    <div class="align-items-center d-flex">
                      <i class="fa fa-repeat mx-1 my-1"></i>
                      <i class="fa fa-check mx-1 my-1"></i>
                      <i class="fa fa-eye mx-1 my-1"></i>
                      <i class="fa fa-comment mx-1 my-1"></i>
                      <i class="fa fa-cog mx-1 my-1"></i>
                      <i class="fa fa-close mx-1 my-1"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-0" data-pgc="jr.record_collapsed">
              <div class="card-body py-0">
                <div class="row">
                  <div class="align-items-center col-lg-12 d-flex justify-content-between">
                    <div class="align-items-center d-flex">
                      <div class="d-flex flex-column">
                        <div class="icheck-material-white">
                          <input type="checkbox" id="user-checkbox1" checked=""/>
                          <label for="user-checkbox1"></label>
                        </div>
                      </div>
                      <div class="align-items-center d-flex flex-column">
                        <i class="fa fa-chevron-up mx-1 my-1"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-chevron-down mx-1 my-1"></i>
                      </div>
                      <div>
                        <h5 class="card-title mb-0 mx-1">Lorem Ipsum Blah Blah record<i class="fa fa-edit mx-1"></i></h5>
                        <p class="small" data-pgc="jr.author">Created by:<strong class="mx-1"><a href="profile.html" data-pgc-field="name">Serge Vinogradoff</a></strong></p>
                      </div>
                    </div>
                    <div class="align-items-center d-flex">
                      <i class="fa fa-repeat mx-1 my-1"></i>
                      <i class="fa fa-check mx-1 my-1"></i>
                      <i class="fa fa-eye mx-1 my-1"></i>
                      <i class="fa fa-comment mx-1 my-1"></i>
                      <i class="fa fa-cog mx-1 my-1"></i>
                      <i class="fa fa-close mx-1 my-1"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center" data-pgc="jr.pagination">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#">Previous</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" data-pgc="jr.recordCollapsedColumn">
      <div class="card-body px-0 px-sm-3 py-1">
        <div class="row"></div>
        <div class="px-3 row">
          <div class="align-items-center col-lg-12 d-flex justify-content-between px-3">
            <div class="align-items-center d-flex">
              <div class="d-flex flex-column">
                <div class="icheck-material-white">
                  <input type="checkbox" id="user-checkbox1" checked=""/>
                  <label for="user-checkbox1"></label>
                </div>
              </div>
              <div class="d-flex flex-column">
                <i class="fa fa-chevron-up mx-1 my-1"></i>
                <i class="fa fa-chevron-down mx-1 my-1"></i>
              </div>
              <div>
                <h5 class="card-title mb-0 mx-1" data-pgc-field="columnname">Subrecords of a record with a connection of type 123</h5>
              </div>
            </div>
            <div class="align-items-center d-flex">
              <i class="fa fa-close mx-1 my-1"></i>
            </div>
          </div>
        </div>
        <div class="px-3 row">
          <div class="col-lg-12 d-flex justify-content-between">
            <div class="align-items-center d-flex">
              <div>
                <div class="form-check custom-control custom-switch">
                  <input type="checkbox" class="form-check-input custom-control-input" id="customSwitch1"/>
                  <label class="custom-control-label form-check-label" for="customSwitch1">Split Into Solved and Not-Solved</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="px-3 row">
          <div class="col-lg-12 d-flex justify-content-between">
            <div class="align-items-center d-flex">
              <div>
                <div class="align-middle custom-control custom-switch d-flex form-check">
                  <input type="checkbox" class="form-check-input custom-control-input" id="customSwitch1"/>
                  <label class="align-middle custom-control-label form-check-label" for="customSwitch1">Show Not Only Direct Children But Also Their Deep nested Children of this type</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="px-3 row">
          <div class="col-lg-12 d-flex justify-content-between">
            <div class="align-items-center d-flex">
              <div>
                <div class="align-middle custom-control custom-switch d-flex form-check">
                  <input type="checkbox" class="form-check-input custom-control-input" id="customSwitch1"/>
                  <label class="align-middle custom-control-label form-check-label" for="customSwitch1">Collapsed view</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="px-3 row">
          <div class="col-lg-12">
            <p class="mb-0">123 direct records of this type</p>
            <p class="mb-0">1230 deeply found records of this type</p>
            <p class="mb-0">1353 records of this type total</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="card mb-0" data-pgc="jr.record_collapsed">
              <div class="card-body py-0">
                <div class="row">
                  <div class="align-items-center col-lg-12 d-flex justify-content-between">
                    <div class="align-items-center d-flex">
                      <div class="d-flex flex-column">
                        <div class="icheck-material-white">
                          <input type="checkbox" id="user-checkbox1" checked=""/>
                          <label for="user-checkbox1"></label>
                        </div>
                      </div>
                      <div class="align-items-center d-flex flex-column">
                        <i class="fa fa-chevron-up mx-1 my-1"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-chevron-down mx-1 my-1"></i>
                      </div>
                      <div>
                        <h5 class="card-title mb-0 mx-1">Lorem Ipsum Blah Blah record<i class="fa fa-edit mx-1"></i></h5>
                        <p class="small" data-pgc="jr.author">Created by:<strong class="mx-1"><a href="profile.html" data-pgc-field="name">Serge Vinogradoff</a></strong></p>
                      </div>
                    </div>
                    <div class="align-items-center d-flex">
                      <i class="fa fa-repeat mx-1 my-1"></i>
                      <i class="fa fa-check mx-1 my-1"></i>
                      <i class="fa fa-eye mx-1 my-1"></i>
                      <i class="fa fa-comment mx-1 my-1"></i>
                      <i class="fa fa-cog mx-1 my-1"></i>
                      <i class="fa fa-close mx-1 my-1"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-0" data-pgc="jr.record_collapsed">
              <div class="card-body py-0">
                <div class="row">
                  <div class="align-items-center col-lg-12 d-flex justify-content-between">
                    <div class="align-items-center d-flex">
                      <div class="d-flex flex-column">
                        <div class="icheck-material-white">
                          <input type="checkbox" id="user-checkbox1" checked=""/>
                          <label for="user-checkbox1"></label>
                        </div>
                      </div>
                      <div class="align-items-center d-flex flex-column">
                        <i class="fa fa-chevron-up mx-1 my-1"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-chevron-down mx-1 my-1"></i>
                      </div>
                      <div>
                        <h5 class="card-title mb-0 mx-1">Lorem Ipsum Blah Blah record<i class="fa fa-edit mx-1"></i></h5>
                        <p class="small" data-pgc="jr.author">Created by:<strong class="mx-1"><a href="profile.html" data-pgc-field="name">Serge Vinogradoff</a></strong></p>
                      </div>
                    </div>
                    <div class="align-items-center d-flex">
                      <i class="fa fa-repeat mx-1 my-1"></i>
                      <i class="fa fa-check mx-1 my-1"></i>
                      <i class="fa fa-eye mx-1 my-1"></i>
                      <i class="fa fa-comment mx-1 my-1"></i>
                      <i class="fa fa-cog mx-1 my-1"></i>
                      <i class="fa fa-close mx-1 my-1"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-0" data-pgc="jr.record_collapsed">
              <div class="card-body py-0">
                <div class="row">
                  <div class="align-items-center col-lg-12 d-flex justify-content-between">
                    <div class="align-items-center d-flex">
                      <div class="d-flex flex-column">
                        <div class="icheck-material-white">
                          <input type="checkbox" id="user-checkbox1" checked=""/>
                          <label for="user-checkbox1"></label>
                        </div>
                      </div>
                      <div class="align-items-center d-flex flex-column">
                        <i class="fa fa-chevron-up mx-1 my-1"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-chevron-down mx-1 my-1"></i>
                      </div>
                      <div>
                        <h5 class="card-title mb-0 mx-1">Lorem Ipsum Blah Blah record<i class="fa fa-edit mx-1"></i></h5>
                        <p class="small" data-pgc="jr.author">Created by:<strong class="mx-1"><a href="profile.html" data-pgc-field="name">Serge Vinogradoff</a></strong></p>
                      </div>
                    </div>
                    <div class="align-items-center d-flex">
                      <i class="fa fa-repeat mx-1 my-1"></i>
                      <i class="fa fa-check mx-1 my-1"></i>
                      <i class="fa fa-eye mx-1 my-1"></i>
                      <i class="fa fa-comment mx-1 my-1"></i>
                      <i class="fa fa-cog mx-1 my-1"></i>
                      <i class="fa fa-close mx-1 my-1"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-0" data-pgc="jr.record_collapsed">
              <div class="card-body py-0">
                <div class="row">
                  <div class="align-items-center col-lg-12 d-flex justify-content-between">
                    <div class="align-items-center d-flex">
                      <div class="d-flex flex-column">
                        <div class="icheck-material-white">
                          <input type="checkbox" id="user-checkbox1" checked=""/>
                          <label for="user-checkbox1"></label>
                        </div>
                      </div>
                      <div class="align-items-center d-flex flex-column">
                        <i class="fa fa-chevron-up mx-1 my-1"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-chevron-down mx-1 my-1"></i>
                      </div>
                      <div>
                        <h5 class="card-title mb-0 mx-1">Lorem Ipsum Blah Blah record<i class="fa fa-edit mx-1"></i></h5>
                        <p class="small" data-pgc="jr.author">Created by:<strong class="mx-1"><a href="profile.html" data-pgc-field="name">Serge Vinogradoff</a></strong></p>
                      </div>
                    </div>
                    <div class="align-items-center d-flex">
                      <i class="fa fa-repeat mx-1 my-1"></i>
                      <i class="fa fa-check mx-1 my-1"></i>
                      <i class="fa fa-eye mx-1 my-1"></i>
                      <i class="fa fa-comment mx-1 my-1"></i>
                      <i class="fa fa-cog mx-1 my-1"></i>
                      <i class="fa fa-close mx-1 my-1"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center" data-pgc="jr.pagination">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#">Previous</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End Row-->
<!--End Row-->
<!--start overlay-->
<div class="overlay toggle-menu"></div>
<!--end overlay-->
