<div class="flex flex-wrap mt-3" id='userShowHeader'>
  <div class="w-full">
    <div class="bg-white shadow-md rounded overflow-hidden mb-3">
      <div class="p-4 text-center">
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar, class: 'rounded-full mb-3 mt-4 mx-auto block', width: '160', height: '160', alt: "user avatar", style: 'width: 160px; height: 160px;' %>
        <% else %>
          <%= image_tag 'no-photo-placeholder.png', class: 'rounded-full mb-3 mt-4 mx-auto block', alt: "default avatar", width: '160', height: '160', style: 'width: 160px; height: 160px;' %>
        <% end %>
        <div class="mb-3">
          <h5 class="text-xl font-bold"><%= @user.full_name %></h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-wrap mt-3">
  <div class="w-full lg:w-1/3">
    <div class="bg-white shadow-md rounded overflow-hidden">
      <div class="p-5">
        <div class="mb-3" data-pgc-field="buttons">
          <%= render "users/buttons", user: @user %>
        </div>
        <hr/>
        <h6 class="text-lg font-semibold">Bio</h6>
        <p><%= @user.bio %></p>
        <h6 class="text-lg font-semibold">About</h6>
        <p><%= @user.about %></p>
        <div class="flex space-x-2">
          <a href="javascript:void();"><i class="fa fa-facebook bg-blue-600 text-white p-2 rounded"></i></a>
          <a href="javascript:void();"> <i class="fa fa-twitter bg-blue-400 text-white p-2 rounded"></i></a>
          <a href="javascript:void();"> <i class="fa fa-google-plus bg-red-600 text-white p-2 rounded"></i></a>
        </div>
      </div>
      <%= render "users/friends_list" %>
    </div>
  </div>
  <div class="w-full lg:w-2/3">
    <div class="bg-white shadow-md rounded overflow-hidden">
      <div class="p-4">
        <ul class="flex justify-evenly">
          <li>
            <a href="javascript:void();" data-target="#profile" data-toggle="pill" class="text-lg font-semibold"><i class="icon-user"></i> <span>Profile</span></a>
          </li>
        </ul>
        <div class="p-3">
          <div id="profile">
            <div class="flex flex-wrap">
              <div class="w-full">
                <h6 class="text-lg font-semibold">Stats</h6>
                <!-- Badges -->
                <hr>
                <h6 class="text-lg font-semibold">Badges</h6>
                <%= render "users/badges/friendly" %>
                <%= render "users/badges/proactive" %>
                <%= render "users/badges/observant" %>
                <hr>
              </div>
              <div class="w-full">
                <h6 class="mt-2 mb-3 text-lg font-semibold"><span class="fa fa-clock-o float-right"></span> Recent Activity</h6>
                <div class="flex flex-wrap">
                  <%= render "users/recent_activity" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= form_for @desire do |desire_form| %>
  <%= render "records/record_list", desire_form: desire_form %>
<% end %>

<%= render "records/modal" %>
