<div class="height-100v d-flex align-items-center justify-content-center">
  <div class="card card-authentication1 mb-0">
    <div class="card-body">
      <div class="card-content p-2">
        <div class="card-title text-uppercase pb-2">Reset Password</div>
        <p class="pb-2">Please enter your email address. You will receive a link to create a new password via email.</p>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="form-group">
            <%= f.label :email %>
            <div class="position-relative has-icon-right">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control input-shadow", placeholder: "Email Address" %>
              <div class="form-control-position">
                <i class="icon-envelope-open"></i>
              </div>
            </div>
          </div>
          <%= f.submit "Reset Password", class: "btn btn-light btn-block mt-3" %>
        <% end %>
      </div>
    </div>
    <div class="card-footer text-center py-3">
      <p class="text-warning mb-0">Return to the <%= link_to 'Sign In', new_user_session_path %></p>
    </div>
  </div>
</div>
