<div class="bg-white p-4 rounded-lg shadow-md mb-2" data-pgc="jr.record_collapsed">
  <div class="flex justify-between items-center">
    <div class="flex items-center space-x-2">
      <%= group_item.check_box id: "record_#{group_item.object.id}", class: "form-checkbox text-indigo-600 h-5 w-5" %>
      <label for="record_#{group_item.object.id}" class="text-gray-800 font-medium"><%= record.name %></label>
    </div>
    <div class="flex items-center space-x-1">
      <button type="button" class="p-1 rounded-full text-gray-400 hover:text-gray-600 focus:outline-none">
        <i class="fas fa-chevron-up"></i>
      </button>
      <% if user_signed_in? %>
        <% if current_user.bookmarked?(record) %>
          <%= link_to record_bookmark_path(record_id: record.id, id: Bookmark.find_by(user: current_user, record:record).id ), method: :delete, class: "text-indigo-600 hover:text-indigo-800" do %>
            <i class="fas fa-star"></i>
          <% end %>
        <% else %>
          <%= link_to record_bookmarks_path(record_id: record.id), method: :post, class: "text-gray-400 hover:text-gray-600" do %>
            <i class="far fa-star"></i>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to record_bookmarks_path(record_id: record.id), class: "text-gray-400 hover:text-gray-600" do %>
          <i class="far fa-star"></i>
        <% end %>
      <% end %>
      <button type="button" class="p-1 rounded-full text-gray-400 hover:text-gray-600 focus:outline-none">
        <i class="fas fa-chevron-down"></i>
      </button>
    </div>
    <div class="flex items-center space-x-1">
      <%= link_to new_record_connection_type_connection_path(record_id: record.id, connection_type_id: @solution_connection_type_id), class: "text-gray-400 hover:text-gray-600 focus:outline-none" do %>
        <i class="fas fa-arrow-circle-left"></i>
      <% end %>
      <%= link_to new_record_dot_path(record_id: record.id, parent_id: nil), class: "text-gray-400 hover:text-gray-600 focus:outline-none" do %>
        <i class="fas fa-repeat"></i>
      <% end %>
      <%= link_to new_record_connection_type_record_type_bulk_record_path(record_id: record.id, connection_type_id: @solution_connection_type_id, record_type_id: @solution_record_type_id), class: "text-gray-400 hover:text-gray-600 focus:outline-none" do %>
        <i class="fas fa-check"></i>
      <% end %>
      <%= link_to record_path(record), class: 'text-gray-400 hover:text-gray-600 focus:outline-none' do %>
        <i class="fas fa-eye"></i>
      <% end %>
    </div>

  </div>
  <%= render "shared/created_by", user: record.user %>
</div>
