<div class="flex flex-wrap -mx-3">
  <div class="w-full px-3">
    <div class="bg-white shadow rounded">
      <div class="p-4">
        <div class="flex flex-wrap items-center justify-between">
          <div class="w-full md:w-1/2 flex justify-center md:justify-start">
            <h5 id='recordsListHeading' class="text-lg font-semibold mb-0" data-pgc-field="title">Repetitive Records</h5>
          </div>
          <div class="w-full md:w-1/2">
            <div class="flex flex-wrap">
              <div class="w-full xl:w-5/12 flex justify-end">
                <div class="relative" data-pgc="jr.dropdown">
                  <button type="submit" class="btn btn-light dropdown-toggle px-1" data-toggle='dropdown' data-pgc-field="ButtonName">
                    <i class="fa fa-plus"></i>&nbsp;Add a Column
                  </button>
                  <div class="absolute mt-1 w-56 bg-white border border-gray-200 rounded shadow-lg z-50">
                    <%= desire_form.submit 'Add a Basic Column', class: 'dropdown-item w-full text-left px-4 py-2 text-sm hover:bg-gray-100' %>
                    <% # Other links would go here %>
                  </div>
                </div>
              </div>
              <div class="w-full xl:w-7/12 flex justify-end mt-4 xl:mt-0">
                <div class="relative" data-pgc="jr.dropdown">
                  <button type="submit" class="btn btn-light dropdown-toggle px-1" data-toggle='dropdown' data-pgc-field="ButtonName">
                    <i class="fa fa-bolt"></i> Actions on Selected Records
                  </button>
                  <div class="absolute mt-1 w-56 bg-white border border-gray-200 rounded shadow-lg z-50">
                    <%= desire_form.submit 'Group...', class: 'dropdown-item w-full text-left px-4 py-2 text-sm hover:bg-gray-100' %>
                    <% # Other links would go here %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= desire_form.fields_for :design do |design_fields| %>
      <%= design_fields.fields_for :columns do |column_fields| %>
        <%= render "records/record_column", desire_form: desire_form, design_fields: design_fields, column_fields: column_fields %>
      <% end %>
    <% end %>
  </div>
</div>
