<%= column_fields.hidden_field :id %>

<div class="card" data-pgc-define="jr.recordColumn" data-pgc-define-name="Records Column" data-pgc-section="Page components">
  <div class="card-body px-0 px-sm-3 py-1 recordscolumn">
    <div class="px-3 row">
      <div class="align-items-center col-lg-12 d-flex justify-content-between px-3">
        <div class="align-items-center d-flex">
          <div class="d-flex flex-column">
            <div class="icheck-material-white">
              <input type="checkbox" id="user-checkbox1" checked=""/>
              <label for="user-checkbox1"></label>
            </div>
          </div>
          <div class="d-flex flex-column">
            <i class="fa fa-chevron-up mx-1 my-1"></i>
            <i class="fa fa-chevron-down mx-1 my-1"></i>
          </div>
          <div>
            <h5 class="card-title mb-0 mx-1" data-pgc-edit="columnname"><%= @subrecords.present? ? 'Sub Records' : 'Repetitive Records' %></h5>
          </div>
        </div>
        <div class="align-items-center d-flex">
          <i class="fa fa-close mx-1 my-1"></i>
        </div>
      </div>
    </div>
    <div class="px-3 row">
      <div class="col-lg-12 d-flex justify-content-between">
        <div class="align-items-center d-flex">
          <div>
            <div class="form-check custom-control custom-switch">
              <%= check_box_tag 'only_solved', 'true', params['only_solved'].present?, class: "form-check-input custom-control-input" %>
              <%= label_tag 'only_solved', 'Only Solved', class: 'custom-control-label form-check-label' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="px-3 row">
      <div class="col-lg-12 d-flex justify-content-between">
        <div class="align-items-center d-flex">
          <div>
            <div class="form-check custom-control custom-switch">
              <%= check_box_tag 'only_unsolved', 'true', params['only_unsolved'].present?, class: "form-check-input custom-control-input" %>
              <%= label_tag 'only_unsolved', 'Only Unsolved', class: 'custom-control-label form-check-label' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="px-3 row">
      <div class="col-lg-12 d-flex justify-content-between">
        <div class="align-items-center d-flex">
          <div>

            <!-- label class="d-flex justify-content-between">Record Type</label -->
            <%= label_tag 'record_type_id', 'Record Type', class: 'd-flex justify-content-between' %>
            <div class="dropdown" data-pgc="jr.dropdown">
              <%= select_tag 'record_type_id', options_from_collection_for_select(@record_types, :id, :name, params[:record_type_id]), include_blank: true, class: "btn btn-light dropdown-toggle px-5" %>
            </div>


          </div>
        </div>
      </div>
    </div>
    <div class="px-3 row">
      <div class="col-lg-12 d-flex justify-content-between">
        <div class="align-items-center d-flex">
          <div>
            <div class="align-middle custom-control d-flex form-check px-0 py-2">
              <%= column_fields.radio_button :collapsed, 'true' %>
              <%= column_fields.label :collapsed, 'Collapsed View', value: 'true', class: 'mx-1' %>
              <%= column_fields.radio_button :collapsed, 'false' %>
              <%= column_fields.label :collapsed, 'Full View', value: 'false', class: 'mx-1' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="px-3 row">
      <div class="col-lg-12 d-flex justify-content-between">
        <div class="align-items-center d-flex">
          <div>
            <div class="align-middle custom-control custom-switch d-flex form-check">
              <input type="checkbox" class="form-check-input custom-control-input" id="customSwitch1"/>
              <label class="align-middle custom-control-label form-check-label" for="customSwitch1">Only Separate Projects (on a Show page gets replaced with "Show Not Only Direct Children But Also Their Deep nested Children of this type")</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="px-3 row">
      <div class="col-lg-12 d-flex justify-content-between">
        <div class="align-items-center d-flex">
          <div>
            <%= desire_form.submit 'Update Column Filters', class: 'btn btn-light' %>
          </div>
        </div>
      </div>
    </div>
    <div class="px-3 row">
      <div class="col-lg-12">
        <p class="mb-0">123 direct records of this type</p>
        <p class="mb-0">1230 deeply found records of this type</p>
        <p class="mb-0">1353 records of this type total</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <%= design_fields.fields_for :group do |group_fields| %>
          <%= group_fields.collection_check_boxes(:record_a_ids, @records.all, :id, :name) do |group_item| %>
            <% if column_fields.object.collapsed %>
              <%= render 'records/collapsed_record', record: group_item.object, group_item: group_item %>
            <% else %>
              <%= render "records/semi_collapsed_record", record: group_item.object, group_item: group_item %>
            <% end %>
          <% end %>
        <% end %>

        <%# @records.paginate %>
      </div>
    </div>
  </div>
</div>
