<div class="flex flex-col lg:flex-row">
  <div class="w-full lg:w-12/12 lg:px-0 lg:px-3 mb-4 lg:mb-0">
    <div class="bg-white shadow-md rounded-lg p-4">
    </div>
    <div class="bg-white shadow-md rounded-lg p-4">
      <div class="bg-white border border-gray-200 rounded-lg p-4">
        <div class="flex items-center justify-between lg:justify-between">
          <div class="flex items-center">
            <div class="flex flex-col">
              <i class="fa fa-chevron-up mx-1 my-1"></i>
              <i class="fa fa-chevron-down mx-1 my-1"></i>
            </div>
            <div>
              <h3 class="card-title mb-0 mx-1 text-xl"><%= @record.name %></h3>
              <%= render "shared/created_by", user: @record.user %>
              <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                <div class="bg-blue-600 h-2.5 rounded-full" style="width: <%= @record.progress %>%;"></div>
              </div>
              <p class="text-sm text-gray-600">Completed: <%= @record.progress %>%</p>
            </div>
          </div>
          <div class="flex items-center">
            <i class="fa fa-comment mx-1 my-1"></i>
          </div>
        </div>
        <div class="flex flex-col lg:flex-row">
          <div class="lg:w-8/12">
            <!--div class="flex items-center mb-2 sm:mb-0">
              <span class="inline-block w-12 sm:w-auto">URL:</span>
              <input type="text" class="form-input flex-1" value="<%= record_url(@record) %>">
              <button class="btn btn-primary ml-2">
                <i class="fa fa-copy mr-1"></i>Copy
              </button>
              <%= link_to record_path(@record), class: "btn btn-primary ml-2" do %>
                <i class="fa fa-eye mr-1"></i>Show
              <% end %>
            </div-->
            <% if user_signed_in? %>
              <% if current_user.bookmarked?(@record) %>
                <%= link_to destroy_bookmark_record_bookmark_path(record_id: @record.id, id: Bookmark.find_by(user: current_user, record: @record).id ), class: 'btn btn-link btn-sm flex items-center' do %>
                  <span><i class="fa fa-star mr-1"></i></span>
                  <span>Remove from Favourites</span>
                <% end %>
              <% else %>
                <%= link_to create_bookmark_record_bookmarks_path(record_id: @record.id), method: :post, class: 'btn btn-link btn-sm flex items-center' do %>
                  <span><i class="fa fa-star-o mr-1"></i></span>
                  <span>Add to Favourites</span>
                <% end %>
              <% end %>
            <% end %>

            <p class="mb-0"><strong class="mr-1">Type:</strong><%= @record.record_type.name %><i class="fa fa-edit mx-1"></i></p>

            <% if @record.dots.any? %>
              <hr/>
              <h5 class="card-title" data-pgc-field="title">
                <strong>Details</strong>
              </h5>
              <div class="w-1/2 space-y-2">
                <% @record.dots.each do |dot| %>
                  <p class="text-gray-700"><%= dot.description %></p>
                <% end %>
              </div>
            <% end %>

            <hr/>
            <div class="text-xs text-gray-600 mt-4">
              <div class="font-medium mb-2"><strong>Statistics</strong></div>

              <table class="w-full">
                <thead>
                  <tr class="bg-gray-100">
                    <th class="text-left py-2">Category</th>
                    <th class="text-left py-2">Total</th>
                    <th class="text-left py-2">Me</th>
                    <th class="text-left py-2">Others</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Time Spent Row -->
                  <tr>
                    <td class="py-1">Time Spent (h):</td>
                    <td class="py-1"><%= @record.dots.sum(:duration) %></td>
                    <td class="py-1"><%= user_signed_in? ? @record.dots.where(user: current_user).sum(:duration) : '-' %></td>
                    <td class="py-1"><%= user_signed_in? ? @record.dots.where.not(user: current_user).sum(:duration) : '-' %></td>
                  </tr>

                  <!-- Repeated Row -->
                  <tr>
                    <td class="py-1">Repeated:</td>
                    <td class="py-1"><%= @record.dots.count %></td>
                    <td class="py-1"><%= user_signed_in? ? @record.dots.where(user: current_user).count : '-' %></td>
                    <td class="py-1"><%= user_signed_in? ? @record.dots.where.not(user: current_user).count : '-' %></td>
                  </tr>

                  <!-- Projects Affected Row -->
                  <tr>
                    <td class="py-1">Projects Affected:</td>
                    <td class="py-1"><%= @record.dots.pluck(:project_id).uniq.count %></td>
                    <td class="py-1"><%= user_signed_in? ? @record.dots.where(user: current_user).pluck(:project_id).uniq.count : '-' %></td>
                    <td class="py-1"><%= user_signed_in? ? @record.dots.where.not(user: current_user).pluck(:project_id).uniq.count : '-' %></td>
                  </tr>

                  <!-- Records in Tree Row -->
                  <tr>
                    <td class="py-1">Records in Tree:</td>
                    <td class="py-1"><%= @record.records_connected_cached %></td>
                    <td class="py-1"><%= user_signed_in? ? Record.all_tree_records_of_record(@record).where(user: current_user).count : '-' %></td>
                    <td class="py-1"><%= user_signed_in? ? Record.all_tree_records_of_record(@record).where.not(user: current_user).count : '-' %></td>
                  </tr>

                  <!-- Unsolved Records in Tree Row -->
                  <tr>
                    <td class="py-1">Unsolved Records in Tree:</td>
                    <td class="py-1"><%= @record.unsolved_records_connected_cached %></td>
                    <td class="py-1"><%= user_signed_in? ? Record.all_unsolved_tree_records_of_record(@record).where(user: current_user).count : '-' %></td>
                    <td class="py-1"><%= user_signed_in? ? Record.all_unsolved_tree_records_of_record(@record).where.not(user: current_user).count : '-' %></td>
                  </tr>

                  <!-- Solved Records in Tree Row -->
                  <tr>
                    <td class="py-1">Solved Records in Tree:</td>
                    <td class="py-1"><%= @record.solved_records_connected_cached %></td>
                    <td class="py-1"><%= user_signed_in? ? Record.all_solved_tree_records_of_record(@record).where(user: current_user).count : '-' %></td>
                    <td class="py-1"><%= user_signed_in? ? Record.all_solved_tree_records_of_record(@record).where.not(user: current_user).count : '-' %></td>
                  </tr>

                </tbody>
              </table>
            </div>

        </div>
          <div class="lg:w-4/12 mt-4 lg:mt-0">
            <div class="flex justify-between items-center">
              <div class="w-full flex flex-col space-y-2">
                <%= link_to new_record_connection_type_connection_path(@record, @solution_connection_type_id), class: "w-full px-4 py-2 text-sm bg-gray-200 rounded hover:bg-gray-300 focus:outline-none" do %>
                  <i class="fa fa-arrow-circle-left mr-1"></i> Solve Via Record B
                <% end %>
                <%= link_to new_record_connection_type_connection_path(@record, @irrelevant_because_connection_type), class: "w-full px-4 py-2 text-sm bg-gray-200 rounded hover:bg-gray-300 focus:outline-none" do %>
                  <i class="fa fa-close mr-1"></i> Irrelevant: Specify Cause
                <% end %>
                <%= link_to new_record_connection_type_connection_path(@record, @irrelevant_because_connection_type), class: "w-full px-4 py-2 text-sm bg-gray-200 rounded hover:bg-gray-300 focus:outline-none" do %>
                  <i class="fa fa-close mr-1"></i> Blocked By...
                <% end %>
                <%= link_to new_record_connection_type_record_type_bulk_record_path(record_id: @record.id, connection_type_id: @solution_connection_type_id, record_type_id: @solution_record_type_id), class: "w-full px-4 py-2 text-sm bg-gray-200 rounded hover:bg-gray-300 focus:outline-none" do %>
                  <i class="fa fa-puzzle-piece mr-1"></i> Enter Components
                <% end %>
                <%= link_to new_record_dot_path(record_id: @record.id, parent_id: nil), class: "w-full px-4 py-2 text-sm bg-gray-200 rounded hover:bg-gray-300 focus:outline-none" do %>
                  <i class="fa fa-repeat mr-1"></i> Repeated
                <% end %>
                <%= link_to into_separate_project_record_connection_type_connections_path(@record, @extracted_to_connection_type), method: :post, class: "w-full px-4 py-2 text-sm bg-gray-200 rounded hover:bg-gray-300 focus:outline-none" do %>
                  <i class="fa fa-angle-double-up mr-1"></i> Extract Into Separate Project
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-white shadow-md rounded-lg p-4">
      <div class="bg-white border border-gray-200 rounded-lg p-4">
        <div class="flex justify-between items-center mb-4">
          <h5 class="card-title" data-pgc-field="title">Comments</h5>
        </div>
        <div class="lg:px-0 lg:px-3">
          <%= render 'comments/form', comment: @new_comment, record: @record %>
        </div>
        <div class="mt-4" id="comments">
          <% @comments.each do |comment| %>
            <%= render 'comments/comment', comment: comment, offset: false %>
          <% end %>
        </div>
      </div>
    </div>
    <%= form_for @desire do |desire_form| %>
      <%= render "records/record_list", desire_form: desire_form %>
    <% end %>
  </div>
</div>
