<div id="sidebar-wrapper" class="fixed top-0 left-0 h-full bg-gray-800 z-50 w-64" data-simplebar="" data-simplebar-auto-hide="true">
    <div class="brand-logo flex flex-col items-center justify-center p-4">
        <%= link_to records_path do %>
            <% #= image_pack_tag 'logo-icon.png', class: "logo-icon h-8 w-8", alt: "logo icon" %>
            <h5 class="logo-text text-white text-2xl">Dedu</h5>
            <span class='text-gray-400 text-xs'>
                <small>Deduction Social Network</small>
            </span>
        <% end %>
    </div>
    <ul class="sidebar-menu overflow-y-auto text-white text-sm">
        <!--li class="sidebar-header px-4 py-2 uppercase">MAIN NAVIGATION</li-->
        <li class="flex justify-between items-center py-2 px-4 hover:bg-gray-700">
            <%= link_to records_path, class: "flex items-center" do %>
                <i class="zmdi zmdi-format-list-bulleted mr-2"></i>
                <span>Repetitive Problems</span>
            <% end %>
            <% if user_signed_in? %>
                <%= link_to new_record_path, class: "flex items-center" do %>
                    New
                <% end %>
            <% end %>
        </li>
        <li class="flex justify-between items-center py-2 px-4 hover:bg-gray-700">
            <%= link_to records_path, class: "flex items-center" do %>
                <i class="zmdi zmdi-format-list-bulleted mr-2"></i>
                <span>Projects</span>
            <% end %>
            <% if user_signed_in? %>
                <%= link_to new_record_path, class: "flex items-center" do %>
                    New
                <% end %>
            <% end %>
        </li>
        <li class="flex justify-between items-center py-2 px-4 hover:bg-gray-700">
            <%= link_to record_types_path, class: "flex items-center" do %>
                <i class="zmdi zmdi-format-list-bulleted mr-2"></i>
                <span>Problem Types</span>
            <% end %>
            <% if user_signed_in? %>
                <%= link_to new_record_type_path, class: "flex items-center" do %>
                    New
                <% end %>
            <% end %>
        </li>
        <li class="flex justify-between items-center py-2 px-4 hover:bg-gray-700">
            <%= link_to connection_types_path, class: "flex items-center" do %>
                <i class="zmdi zmdi-format-list-bulleted mr-2"></i>
                <span>Connectoin Types</span>
            <% end %>
            <% if user_signed_in? %>
                <%= link_to new_connection_type_path, class: "flex items-center" do %>
                    New
                <% end %>
            <% end %>
        </li>
        <li>
            <%= link_to connections_path, class: "flex items-center py-2 px-4 hover:bg-gray-700" do %>
                <i class="zmdi zmdi-format-list-bulleted mr-2"></i>
                <span>Connections</span>
            <% end %>
        </li>
        <% if user_signed_in? %>
            <li>
                <%= link_to friends_path, class: "flex items-center py-2 px-4 hover:bg-gray-700" do %>
                    <i class="zmdi zmdi-accounts-alt mr-2"></i>
                    <span>Friends</span>
                <% end %>
            </li>
        <% end %>
        <li>
            <%= link_to people_path, class: "flex items-center py-2 px-4 hover:bg-gray-700" do %>
                <i class="zmdi zmdi-accounts-list mr-2"></i>
                <span>People</span>
            <% end %>
        </li>
        <li class="flex justify-between items-center py-2 px-4 hover:bg-gray-700">
            <%= link_to sensors_path, class: "flex items-center" do %>
                <i class="zmdi zmdi-format-list-bulleted mr-2"></i>
                <span>Sensors</span>
            <% end %>
            <% if user_signed_in? %>
                <%= link_to new_sensor_path, class: "flex items-center" do %>
                    New
                <% end %>
            <% end %>
        </li>
    </ul>
</div>
