<header class="bg-white shadow" data-pgc="jr.topnavmenu">
    <nav class="flex items-center justify-between p-4">
        <ul class="flex items-center space-x-4">
            <li>
                <a class="text-gray-600 hover:text-gray-800" href="javascript:void();">
                    <i class="icon-menu"></i>
                </a>
            </li>
            <li>
                <form class="flex items-center space-x-2">
                    <input type="text" class="form-input" placeholder="Enter keywords">
                    <a href="javascript:void();" class="text-gray-600 hover:text-gray-800">
                        <i class="icon-magnifier"></i>
                    </a>
                </form>
            </li>
        </ul>
        <ul class="flex items-center space-x-4">
            <% unless user_signed_in? %>
                <li>
                    <%= link_to new_user_session_path, class: "flex items-center space-x-2 hover:text-gray-800" do %>
                        <i class="fa fa-sign-in"></i>
                        <span>Login</span>
                    <% end %>
                </li>
            <% end %>
            <% unless user_signed_in? %>
                <li>
                    <%= link_to new_user_registration_path, class: "flex items-center space-x-2 hover:text-gray-800" do %>
                        <i class="fa fa-user-plus"></i>
                    <% end %>
                </li>
            <% end %>
            <% if user_signed_in? %>
                <li>
                    <%= link_to conversations_path, class: "flex items-center space-x-2 hover:text-gray-800" do %>
                        <i class="fa fa-envelope-open-o"></i>
                    <% end %>
                </li>
            <% end %>
            <% if user_signed_in? %>
                <li>
                    <%= link_to notifications_path, class: "flex items-center space-x-2 hover:text-gray-800" do %>
                        <i class="fa fa-bell-o"></i>
                    <% end %>
                </li>
            <% end %>
            <% if user_signed_in? %>
                <li class="relative">
                    <a class="flex items-center space-x-2 hover:text-gray-800" href="#">
                        <span class="user-profile">
                            <%= image_tag current_user.avatar_url(:thumb), class: 'rounded-full', alt: "user avatar" %>
                        </span>
                    </a>
                    <ul class="absolute right-0 mt-2 bg-white border border-gray-200 rounded shadow-md">
                        <li class="p-3">
                            <div class="flex items-center space-x-3">
                                <div class="avatar">
                                    <%= image_tag current_user.avatar_url(:thumb), class: 'rounded-full', alt: "user avatar" %>
                                </div>
                                <div>
                                    <h6 class="font-medium text-gray-800"><%= current_user.full_name %></h6>
                                    <p class="text-sm text-gray-600"><%= current_user.email %></p>
                                </div>
                            </div>
                        </li>
                        <% if user_signed_in? %>
                            <li class="border-t border-gray-100">
                                <%= link_to conversations_path, class: "flex items-center space-x-2 p-3 hover:bg-gray-100" do %>
                                    <i class="icon-envelope"></i> Inbox
                                <% end %>
                            </li>
                        <% end %>
                        <% if user_signed_in? %>
                            <li class="border-t border-gray-100">
                                <%= link_to user_path(current_user), class: "flex items-center space-x-2 p-3 hover:bg-gray-100" do %>
                                    <i class="icon-wallet"></i> My Profile
                                <% end %>
                            </li>
                        <% end %>
                        <% if user_signed_in? %>
                            <li class="border-t border-gray-100">
                                <%= link_to blocked_users_path, class: "flex items-center space-x-2 p-3 hover:bg-gray-100" do %>
                                    <i class="icon-lock"></i>
                                    <span>Blocked Users</span>
                                <% end %>
                            </li>
                        <% end %>
                        <% if user_signed_in? %>
                            <li class="border-t border-gray-100">
                                <%= link_to edit_user_path(current_user), class: "flex items-center space-x-2 p-3 hover:bg-gray-100" do %>
                                    <i class="icon-settings"></i> Settings
                                <% end %>
                            </li>
                        <% end %>
                        <% if user_signed_in? %>
                            <li class="border-t border-gray-100">
                                <%= link_to destroy_user_session_path, method: :delete, class: "flex items-center space-x-2 p-3 hover:bg-gray-100" do %>
                                    <i class="icon-power"></i> Logout
                                <% end %>
                            </li>
                        <% end %>
                    </ul>
                </li>
            <% end %>
        </ul>
    </nav>
</header>
