<p id="notice"><%= notice %></p>

<h1>Sensors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sensors.each do |sensor| %>
      <tr>
        <td><%= sensor.name %></td>
        <td><%= link_to 'Show', sensor %></td>
        <td><%= link_to 'Edit', edit_sensor_path(sensor) %></td>
        <td><%= link_to 'Destroy', sensor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sensor', new_sensor_path %>

<div class="row"> 
  <div class="col-lg-12 px-0 px-sm-3"> 
    <div class="card" data-pgc="jr.pagename"> 
      <div class="card-body"> 
        <h5 class="card-title mb-0" data-pgc-field="title">Sensors</h5> 
      </div>                                 
    </div>
    <div class="card" data-pgc-define="jr.sensor" data-pgc-define-name="Sensor" data-pgc-section="Page components"> 
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-lg-12">
                <h5>Some Record Type</h5>
              </div>
              <div class="col-lg-12">
                <p>Long and boring description. Blah blah blah blah blah sdkfjvn sdkf vkd sfv sdkfjvk dfkv skdjf vksdf</p>
              </div>
              <div class="col-lg-12">
                <p class="small" data-pgc="jr.author">Created by:<strong class="mx-1"><a href="profile.html" data-pgc-field="name">Serge Vinogradoff</a></strong></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 d-flex">
                <strong><p>Submits to Record</p></strong>
                <p class="ml-1">123. Some kind of a record</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <strong><p>API Key</p></strong>
              </div>
              <div class="col-md-6">
                <p>kjn34kjn43kjnkk43nknt536536</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <strong><p>API Secret</p></strong>
              </div>
              <div class="col-md-6">
                <p>show</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-light btn-block">
              <i class="fa fa-edit"></i>&nbsp;Edit
            </button>
            <button type="button" class="btn btn-light btn-block">
              <i class="fa fa-close"></i>&nbsp;Delete
            </button>
          </div>
        </div>                                     
      </div>                                 
    </div>
    <div class="card" data-pgc="jr.sensor"> 
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-lg-12">
                <h5>Some Record Type</h5>
              </div>
              <div class="col-lg-12">
                <p>Long and boring description. Blah blah blah blah blah sdkfjvn sdkf vkd sfv sdkfjvk dfkv skdjf vksdf</p>
              </div>
              <div class="col-lg-12">
                <p class="small" data-pgc="jr.author">Created by:<strong class="mx-1"><a href="profile.html" data-pgc-field="name">Serge Vinogradoff</a></strong></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 d-flex">
                <strong><p>Submits to Record</p></strong>
                <p class="ml-1">123. Some kind of a record</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <strong><p>API Key</p></strong>
              </div>
              <div class="col-md-6">
                <p>kjn34kjn43kjnkk43nknt536536</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <strong><p>API Secret</p></strong>
              </div>
              <div class="col-md-6">
                <p>show</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-light btn-block">
              <i class="fa fa-edit"></i>&nbsp;Edit
            </button>
            <button type="button" class="btn btn-light btn-block">
              <i class="fa fa-close"></i>&nbsp;Delete
            </button>
          </div>
        </div>                                     
      </div>                                 
    </div>
    <div class="card" data-pgc="jr.sensor"> 
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-lg-12">
                <h5>Some Record Type</h5>
              </div>
              <div class="col-lg-12">
                <p>Long and boring description. Blah blah blah blah blah sdkfjvn sdkf vkd sfv sdkfjvk dfkv skdjf vksdf</p>
              </div>
              <div class="col-lg-12">
                <p class="small" data-pgc="jr.author">Created by:<strong class="mx-1"><a href="profile.html" data-pgc-field="name">Serge Vinogradoff</a></strong></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 d-flex">
                <strong><p>Submits to Record</p></strong>
                <p class="ml-1">123. Some kind of a record</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <strong><p>API Key</p></strong>
              </div>
              <div class="col-md-6">
                <p>kjn34kjn43kjnkk43nknt536536</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <strong><p>API Secret</p></strong>
              </div>
              <div class="col-md-6">
                <p>show</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-light btn-block">
              <i class="fa fa-edit"></i>&nbsp;Edit
            </button>
            <button type="button" class="btn btn-light btn-block">
              <i class="fa fa-close"></i>&nbsp;Delete
            </button>
          </div>
        </div>                                     
      </div>                                 
    </div>
    <div class="card" data-pgc="jr.sensor"> 
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-lg-12">
                <h5>Some Record Type</h5>
              </div>
              <div class="col-lg-12">
                <p>Long and boring description. Blah blah blah blah blah sdkfjvn sdkf vkd sfv sdkfjvk dfkv skdjf vksdf</p>
              </div>
              <div class="col-lg-12">
                <p class="small" data-pgc="jr.author">Created by:<strong class="mx-1"><a href="profile.html" data-pgc-field="name">Serge Vinogradoff</a></strong></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 d-flex">
                <strong><p>Submits to Record</p></strong>
                <p class="ml-1">123. Some kind of a record</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <strong><p>API Key</p></strong>
              </div>
              <div class="col-md-6">
                <p>kjn34kjn43kjnkk43nknt536536</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <strong><p>API Secret</p></strong>
              </div>
              <div class="col-md-6">
                <p>show</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-light btn-block">
              <i class="fa fa-edit"></i>&nbsp;Edit
            </button>
            <button type="button" class="btn btn-light btn-block">
              <i class="fa fa-close"></i>&nbsp;Delete
            </button>
          </div>
        </div>                                     
      </div>                                 
    </div>
    <div class="card" data-pgc="jr.sensor"> 
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-lg-12">
                <h5>Some Record Type</h5>
              </div>
              <div class="col-lg-12">
                <p>Long and boring description. Blah blah blah blah blah sdkfjvn sdkf vkd sfv sdkfjvk dfkv skdjf vksdf</p>
              </div>
              <div class="col-lg-12">
                <p class="small" data-pgc="jr.author">Created by:<strong class="mx-1"><a href="profile.html" data-pgc-field="name">Serge Vinogradoff</a></strong></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 d-flex">
                <strong><p>Submits to Record</p></strong>
                <p class="ml-1">123. Some kind of a record</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <strong><p>API Key</p></strong>
              </div>
              <div class="col-md-6">
                <p>kjn34kjn43kjnkk43nknt536536</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <strong><p>API Secret</p></strong>
              </div>
              <div class="col-md-6">
                <p>show</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-light btn-block">
              <i class="fa fa-edit"></i>&nbsp;Edit
            </button>
            <button type="button" class="btn btn-light btn-block">
              <i class="fa fa-close"></i>&nbsp;Delete
            </button>
          </div>
        </div>                                     
      </div>                                 
    </div>
    <div class="d-flex justify-content-center" data-pgc="jr.pagination">
      <ul class="pagination"> 
        <li class="page-item">
          <a class="page-link" href="#">Previous</a>
        </li>                                     
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>                                     
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>                                     
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>                                     
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>                                     
      </ul>
    </div>                             
  </div>                         
</div>
