<div class="mt-3">
  <div class="col-span-full sm:col-span-12 px-0 px-sm-3">
    <div class="bg-white shadow-md rounded-lg p-4" data-pgc="jr.pagename">
      <div class="card-body">
        <h5 class="card-title mb-0" data-pgc-field="title">Create Many SubRecords</h5>
      </div>
    </div>

    <div class="bg-white shadow-md rounded-lg p-4">
      <%= form_with(scope: :record_collection, url: record_connection_type_record_type_bulk_records_path(record_id: @record.id, connection_type_id: @connection_type.id, record_type_id: @record_type.id)) do |form| %>
        <div class="mb-4">
          <label for="connection_type_id" class="block mb-1">Connection Type</label>
          <div class="relative">
            <%= form.collection_select :connection_type_id, @connection_types, :id, :name, { include_blank: true, selected: @connection_type.id }, { class: "form-select w-full pl-3 pr-10 py-2 border-gray-300 rounded-md" } %>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
              <i class="fa fa-caret-down"></i>
            </div>
          </div>
        </div>

        <div class="mb-4">
          <label for="record_type_id" class="block mb-1">Record Type</label>
          <div class="relative">
            <%= form.collection_select :record_type_id, @record_types, :id, :name, { include_blank: true, selected: @record_type.id }, { class: "form-select w-full pl-3 pr-10 py-2 border-gray-300 rounded-md" } %>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
              <i class="fa fa-caret-down"></i>
            </div>
          </div>
        </div>

        <% (1..10).each do |index| %>
          <div class="mb-4">
            <%= form.label "record_#{index}_name", class: "block mb-1" do %>
              <span> Record ##{index} </span>
              <i class="fa fa-microphone"></i>
            <% end %>
            <%= form.text_field "record_#{index}_name", class: "form-input w-full border-gray-300 rounded-md", placeholder: "Enter a repetitive problem" %>
          </div>
        <% end %>

        <div class="flex justify-between">
          <%= button_tag type: :submit, class: "btn btn-light px-5" do %>
            <i class="fa fa-check mx-1"></i><%= submit_name %>
          <% end %>
          <%= link_to records_path, class: 'btn btn-light px-5' do %>
            <i class="fa fa-close mx-1"></i>Cancel
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
