<div class="card">
  <div class="card-body">
    <%= form_with(model: dot, url: [@record, @dot]) do |form| %>
      <div class="form-group">
        <label class="text-lg font-semibold">Project inside which this occurred</label>
        <div class="relative">
          <%= form.collection_select :project_id, @projects, :id, :name, { include_blank: true }, { class: "form-select" } %>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <i class="fa fa-chevron-down"></i>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :description, class: "text-lg font-semibold" %>
        <%= form.text_area :description, class: "form-input w-full", placeholder: "Enter a Description" %>
      </div>

      <div class="form-group">
        <%= form.label :duration, class: "text-lg font-semibold" %>
        <%= form.text_field :duration, class: "form-input w-full", placeholder: "Enter Duration" %>
      </div>

      <div class="form-group flex justify-end">
        <%= button_tag type: :submit, class: "btn btn-primary px-5" do %>
          <i class="fa fa-check mx-1"></i><%= submit_name %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
