<div id="notice" class="text-green-500">
  <%= notice %>
</div>

<h1 class="text-2xl font-semibold mb-4">Dots</h1>

<div class="overflow-x-auto">
  <table class="min-w-full">
    <thead>
      <tr>
        <th class="px-4 py-2">Record</th>
        <th class="px-4 py-2">Start date</th>
        <th class="px-4 py-2">Start time</th>
        <th class="px-4 py-2">End date</th>
        <th class="px-4 py-2">End time</th>
        <th class="px-4 py-2">Income</th>
        <th class="px-4 py-2">Duration</th>
        <th class="px-4 py-2" colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @dots.each do |dot| %>
        <tr>
          <td class="px-4 py-2"><%= dot.record_id %></td>
          <td class="px-4 py-2"><%= dot.start_date %></td>
          <td class="px-4 py-2"><%= dot.start_time %></td>
          <td class="px-4 py-2"><%= dot.end_date %></td>
          <td class="px-4 py-2"><%= dot.end_time %></td>
          <td class="px-4 py-2"><%= dot.income %></td>
          <td class="px-4 py-2"><%= dot.duration %></td>
          <td class="px-4 py-2"><%= link_to 'Show', dot, class: "text-blue-500 hover:underline" %></td>
          <td class="px-4 py-2"><%= link_to 'Edit', edit_dot_path(dot), class: "text-green-500 hover:underline" %></td>
          <td class="px-4 py-2"><%= link_to 'Destroy', dot, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-red-500 hover:underline" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="mt-4">
  <%= link_to 'New Dot', new_dot_path, class: "btn btn-primary" %>
</div>
