<p id="notice"><%= notice %></p>

<h1>Dots</h1>

<table>
  <thead>
    <tr>
      <th>Record</th>
      <th>Start date</th>
      <th>Start time</th>
      <th>End date</th>
      <th>End time</th>
      <th>Income</th>
      <th>Duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dots.each do |dot| %>
      <tr>
        <td><%= dot.record_id %></td>
        <td><%= dot.start_date %></td>
        <td><%= dot.start_time %></td>
        <td><%= dot.end_date %></td>
        <td><%= dot.end_time %></td>
        <td><%= dot.income %></td>
        <td><%= dot.duration %></td>
        <td><%= link_to 'Show', dot %></td>
        <td><%= link_to 'Edit', edit_dot_path(dot) %></td>
        <td><%= link_to 'Destroy', dot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dot', new_dot_path %>
