<p id="notice" class="mb-4"><%= notice %></p>

<div class="mb-4">
  <strong class="font-semibold">Record:</strong>
  <%= @dot.record_id %>
</div>

<div class="mb-4">
  <strong class="font-semibold">Start date:</strong>
  <%= @dot.start_date %>
</div>

<div class="mb-4">
  <strong class="font-semibold">Start time:</strong>
  <%= @dot.start_time %>
</div>

<div class="mb-4">
  <strong class="font-semibold">End date:</strong>
  <%= @dot.end_date %>
</div>

<div class="mb-4">
  <strong class="font-semibold">End time:</strong>
  <%= @dot.end_time %>
</div>

<div class="mb-4">
  <strong class="font-semibold">Income:</strong>
  <%= @dot.income %>
</div>

<div class="mb-4">
  <strong class="font-semibold">Duration:</strong>
  <%= @dot.duration %>
</div>

<div class="mt-4">
  <%= link_to 'Edit', edit_dot_path(@dot), class: "btn btn-primary mr-2" %> |
  <%= link_to 'Back', dots_path, class: "btn btn-secondary" %>
</div>
