<div class="card">
  <div class="card-body">
    <%= form_with(model: connection_type) do |form| %>
      <% if connection_type.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(connection_type.errors.count, "error") %> prohibited this connection_type from being saved:</h2>

          <ul>
            <% connection_type.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control", placeholder: "Enter Connection Type Name" %>
      </div>
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_area :description, class: "form-control", placeholder: "Enter Description" %>
      </div>
      <div class="form-group">
        <label for="input-3">Directional</label>
        <p>Once you know you have two records (A and B) that are connected, will this mean that once you solve one of them, the other will go away on its own?</p>
        <div class="icheck-material-white">
          <%= form.radio_button :directional, true %>
          <%= form.label :directional, value: true do %>
            Yes (directional, A becomes irrelevant once I solve B or vise versa)
          <% end%>
        </div>
        <div class="icheck-material-white">
          <%= form.radio_button :directional, false %>
          <%= form.label :directional, value: false do %>
            No (non-directional, both A and B need to be solved individually dispite the fact that they are connected)
          <% end %>
        </div>
      </div>
      <div class="form-group">
        <label for="input-3">Destructive</label>
        <p>* visible only if &quot;directional&quot; is chosen.</p>
        <p>If you have two records (A and B), and say you need to summarize their progress, will progress in A mean that B received progress too? Or progress in A won&apos;t matter for progress of B?</p>
        <div class="icheck-material-white">
          <%= form.radio_button :destructive, true %>
          <%= form.label :destructive, value: true do %>
            Yes (destructive, progress of A means progress of B grows too)
          <% end %>
        </div>
        <div class="icheck-material-white">
          <%= form.radio_button :destructive, false %>
          <%= form.label :destructive, value: false do %>
            No (non-destructive, progress of A does not affect progress of B, they are separate in terms of values or properties)
          <% end %>
        </div>
      </div>
      <div class="form-group">
        <label for="input-3">How many such connections can a record have</label>
        <p>* visible for both &quot;directional&quot; and &quot;non-directional&quot;</p>
        <div class="icheck-material-white">
          <%= form.radio_button :one_to_many, false %>
          <%= form.label :one_to_many, value: false do %>
            <p> One-To-One </p>
            <p> (if it is directional, a record for this type of connection can be mentioned not more than once as A and not more than once as B), One a record has such connection as A, an option to connect it as A with some other record will be disabled (the record will be excluded from the list. If the connection is directional, a record can have at most two such connections). </p>
          <% end %>
        </div>
        <div class="icheck-material-white">
          <%= form.radio_button :one_to_many, true %>
          <%= form.label :one_to_many, value: true do %>
            <p> One-To-Many </p>
            <p> (you can mention some record as A - source - for this type of connection only once, but that same record can be mentioed many times as B - target - with this type of connection, to any number of records, an example would be &quot;a system has many subsystems, but a subsystem belongs to only one system&quot;) </p>
          <% end %>
        </div>
      </div>
      <div class="form-group">
        <label for="input-3">Records of what type can be selected as a target</label>
        <p>* as B (for connections A -&gt; B)</p>
        <p></p>
        <p>* as A (for connections B -&gt; A)</p>
        <div class="icheck-material-white">
          <%= form.radio_button :target_type, :same_as_source %>
          <%= form.label :target_type, value: :same_as_source do %>
            Тот же что и source
          <% end %>
        </div>
        <div class="icheck-material-white">
          <%= form.radio_button :target_type, :any %>
          <%= form.label :target_type, value: :any do %>
            Любой тип
          <% end %>
        </div>
        <div class="icheck-material-white">
          <%= form.radio_button :target_type, :specific_type %>
          <%= form.label :target_type, value: :specific_type do %>
            Конкретный тип
          <% end %>
        </div>
        <div class="icheck-material-white">
          <%= form.radio_button :target_type, :specific_subtype %>
          <%= form.label :target_type, value: :specific_subtype do %>
            Конкретный подтип конкретного типа
          <% end %>
        </div>
      </div>
      <div class="form-group">
        <label for="input-3">Выберете тип таргетов</label>
        <div class="dropdown" data-pgc-define="jr.dropdown" data-pgc-define-name="Dropdown Menu" data-pgc-section="Page components">
          <%= form.collection_select :target_record_type_id, @target_record_types, :id, :name, { include_blank: true }, { class: "btn btn-light dropdown-toggle px-5" } %>
        </div>
      </div>
      <div class="form-group">
        <label for="input-3">Выберете тип под-таргетов</label>
        <p>* виден только если выбран &quot;подтип типов&quot;</p>
        <div class="dropdown" data-pgc="jr.dropdown">
          <%= form.collection_select :target_record_subtype_id, @target_record_types, :id, :name, { include_blank: true }, { class: "btn btn-light dropdown-toggle px-5" } %>
        </div>
      </div>
      <div class="form-group">
        <label for="input-3">Records of what hierarchy can be selected as a target</label>
        <p>* as B (for connections A -&gt; B)</p>
        <p></p>
        <p>* as A (for connections B -&gt; A)</p>
        <div class="icheck-material-white">
          <%= form.radio_button :target_hierarchy, :siblings %>
          <%= form.label :target_hierarchy, value: :siblings do %>
            Сиблинги (чайлды моего прямого парента)
          <% end %>
        </div>
        <div class="icheck-material-white">
          <%= form.radio_button :target_hierarchy, :all_parent_generations %>
          <%= form.label :target_hierarchy, value: :all_parent_generations do %>
            Все поколения парентов
          <% end %>
        </div>
        <div class="icheck-material-white">
          <%= form.radio_button :target_hierarchy, :deep_siblings %>
          <%= form.label :target_hierarchy, value: :deep_siblings do %>
            Чайлды моего дерева того же колена что и А (напр. другие правнуки моего прадеда)
          <% end %>
        </div>
        <div class="icheck-material-white">
          <%= form.radio_button :target_hierarchy, :all_tree_records %>
          <%= form.label :target_hierarchy, value: :all_tree_records do %>
            Все пункты в моём семейном древе (кроме парентов?, пра-парентов? и т.п.)
          <% end %>
        </div>
        <div class="icheck-material-white">
          <%= form.radio_button :target_hierarchy, :all %>
          <%= form.label :target_hierarchy, value: :all do %>
            Все пункты (кроме парентов? и пра-парентов? и т.п.)
          <% end %>
        </div>
        <div class="icheck-material-white">
          <%= form.radio_button :target_hierarchy, :root %>
          <%= form.label :target_hierarchy, value: :root do %>
            Пункты главного списка (те у которых нет парентов)
          <% end %>
        </div>
        <div class="icheck-material-white">
          <%= form.radio_button :target_hierarchy, :closest_root %>
          <%= form.label :target_hierarchy, value: :closest_root do %>
            Корень дерева (главный пункт с которого всё началось)
          <% end %>
        </div>
        <div class="icheck-material-white">
          <%= form.radio_button :target_hierarchy, :specific_parent_type %>
          <%= form.label :target_hierarchy, value: :specific_parent_type do %>
            Ближайший парент такого-то типа
          <% end %>
        </div>
      </div>
      <div class="form-group py-2">
        <label for="input-3">Выберете тип ближайшего парента</label>
        <div class="dropdown" data-pgc="jr.dropdown">
          <%= form.collection_select :closest_parent_type_id, @target_record_types, :id, :name, { include_blank: true }, { class: "btn btn-light dropdown-toggle px-5" } %>
        </div>
      </div>
      <div class="form-group">
        <%= button_tag type: :submit, class: "btn btn-light px-5" do %>
          <i class="fa fa-check mx-1"></i>Create!
        <% end %>
      </div>
    <% end %>
  </div>
</div>
